[2020-05-04 16:30] andre-merzky commented on #443
Right.  This though sounds like we are not missing any information in the LM to set the value ourself, and don't need to ask the user or application to do so, right?  I mean, ideally the user should not even know that (a) it's a TACC machine, (b) that ibrun is used for task launching, and (c) over how many nodes a task has been scheduled (the last the user cannot know actually).

[2020-05-04 16:52] mtitov commented on #443
In general - yes, agree, but with (a) and (b) it is 50/50 - user is responsible to pick the corresponding resource configuration, thus should be aware (and such information as env variable could be added to `"notes"` at resource_config). Also having such possibility wouldn't limit the user in taking advantage of env variables

[2020-05-04 22:06] mtitov commented on #443
Ticket is closed, but the info related to IBRun LM is kept ([PR 2138](https://github.com/radical-cybertools/radical.pilot/pull/2138))

[2020-05-04 22:06] #443 closed

[2020-05-08 18:45] lee212 commented on #442
Changed the title to reflect the following items as well:
- best practice on multiple tasks: https://github.com/radical-collaboration/hpc-workflows/issues/118
- description on task.`post_exec` method according to facts#23
- shared_data API behavior according to hpc-workflows#119

[2020-05-12 19:55] lee212 commented on #414
Support of docker image is no longer exist but I am happy to look at how we can support, if possible.

[2020-05-12 19:57] lee212 commented on #411
I will close this for now. Feel free to reopen anytime

[2020-05-12 19:57] #411 closed

[2020-05-12 20:00] lee212 commented on #380
May I ask for some context?

[2020-05-12 20:20] lee212 commented on #430
@andre-merzky , can you add me to the maintainer? BTW how do you want to proceed purging this? I was thinking of simple deletion without linking to radical.entk.

[2020-05-12 21:00] andre-merzky commented on #430
Yes, it can just be deleted.  Let me see if I have access...

[2020-05-12 21:02] andre-merzky commented on #430
Done :-)

[2020-05-12 21:02] #430 closed

[2020-05-12 21:09] andre-merzky commented on #380
Yes, of course - sorry, that ticket description is really useless!

When running an RE example or the test suite, there appear many files in the workdir which are not cleaned up after the run.  Those files should be cleaned up after execution.

[2020-05-12 23:59] lee212 opened #444 "dryrun"
[code]

[2020-05-19 16:32] lee212 commented on #431
This has been resolved as the page is forwarded to readthedocs, https://radicalentk.readthedocs.io/en/latest/user_guide/get_started.html

[2020-05-19 16:32] #431 closed

[2020-05-19 17:04] lee212 commented on #437
`fix/docs` branch will have correct links.

In detail, the broken links were caused by missing `latest` version from RP. It had to be replaced with `stable` instead. Sphinx linkcheck detects broken links and the result with the new branch:
[code]

[2020-05-19 17:25] Abdullah-Ghani commented on #414
Alternative solution of docker application worked perfectly fine. Thank you.

[2020-05-19 17:25] #414 closed

[2020-05-19 20:26] mturilli opened #447 "Running multiple workflows in one session fails"
See https://github.com/radical-collaboration/facts/issues/24

[2020-05-26 14:54] akashbanrutgers opened #448 "RuntimeError: session create failed [Errno 111]"
Hi EnTK Developers,

I am unable to execute one of the sample entk scripts (eop.py) on local host. I get the following error :

################
(myenv) abanerjee@abanerjee-OptiPlex-990:~/Desktop/radical.entk/examples/simple$ python eop.py
EnTK session: re.session.abanerjee-OptiPlex-990.abanerjee.018408.0003
Creating AppManagerSetting up RabbitMQ system                                 ok

[2020-05-26 16:35] lee212 commented on #448
Hi Akash,

The two.radical-project.org is currently offline due to security reasons. We will be replacing it shortly.

[2020-05-26 16:49] SrinivasMushnoori commented on #448
@akashbanrutgers , I can give you the link to the MDB that I am using over email.
However, you'll need an RMQ as well. Let me see what I can do. This is not the same issue as we faced last time...

[2020-05-26 16:57] akashban commented on #448
Thank you for your help Hyungro and Srinivas.

[2020-05-31 23:09] andre-merzky commented on #447
I think this is not fundamentally broken - the attached script runs two workflows (2 pipelines each) in separate `appmgr.run()` calls, and this seems to work as expected (I see a total of 4 pipelines executed).  Not that the appmgr constructor needs an `autoterminate=False` then, and termination must be triggered by the application.

PS.: attaching python files is not supported (strange), so [here

[2020-06-07 17:13] lee212 opened #452 "User-friendly Error messages"
This issue was raised by a series of user experiences of difficulty understanding a reason for any failure by looking at error messages generated by entk. One recent report is found here: https://github.com/radical-collaboration/hpc-workflows/issues/125

Failure examples to deal with:
- incorrect resources
- incorrect project name
- terminated job by scheduler

[2020-06-11 00:05] SrinivasMushnoori commented on #448
@iparask Hi Giannis, has there been movement on the MDB/RMQ requests that @akashban made?
Thanks!

[2020-06-11 00:24] SrinivasMushnoori commented on #448
Apologies: ignore the above. I think I do have the link. I will communicate to Akash. Thanks.

[2020-06-16 12:59] shantenujha commented on #448
@SrinivasMushnoori  -- All OK ?

[2020-06-16 15:26] SrinivasMushnoori commented on #448
@akashban , were you able to successfully run?

Thanks!

[2020-06-16 15:49] akashban commented on #448
Hi,
The new MDB link works. However, since I am on python2.7, it does not not work. I am yet to move over to python3 and test if the EnTk examples work. Will keep you posted.

Thanks
Akash

[2020-06-16 22:55] akashban commented on #448
Hi,

I am able to run EnTK examples using the new MDB and RMQ links. Thank you all for your help.

Kind Regards,
Akash

[2020-06-16 23:00] SrinivasMushnoori commented on #448
Excellent: that means this ticket can be closed. Cheers!

[2020-06-18 21:19] iparask opened #455 "RADICAL-EnTK conda recipe fails"
The new conda installation fails with the following error:

[code]

It seems like there is a session under the examples folder in the pip release. I am not sure if that is correct or not. I will see how to resolve it, but it may require a new release.

Thank you

[2020-06-18 21:50] lee212 commented on #455
Yes, I accidentally included the session in the dist for the release. Thanks for reporting this.
I yanked the release 1.4.1 and uploaded new one without the session. `1.4.1.post1` is now the latest and it seems fine.

[2020-06-19 02:23] andre-merzky commented on #455
Hey @Hyungro - thanks for fixng this quicly!  You may want to use the next minor version number the next time you need to update an release (so `1.4.2` or whatever is up by then).  For the end user it is not obvious what `post1` is supposed to mean, and version numbers which use different schema are not easy to compare (automatically).

[2020-06-22 19:54] iparask commented on #455
This is fixed and I'm closing it

[2020-06-22 19:54] #455 closed

[2020-06-24 14:43] mturilli opened #456 "EnTK documentation about RabbitMQ badly outdated"
https://radicalentk.readthedocs.io/en/latest/install.html#rabbitmq

[code]

This needs to be updated ASAP, adding details about using user and password via environment variables.

[2020-06-24 17:37] mturilli commented on #447
This was solved for the user. We can close it.

[2020-06-24 17:37] #447 closed

[2020-06-24 17:38] mturilli commented on #441
Done

[2020-06-24 17:38] #441 closed

[2020-06-24 17:38] #442 closed

[2020-06-25 19:18] wilkinson opened #457 "Cannot install from pip on Summit"
This is definitely not expected, and I'm sure I'm doing something stupid, but I cannot get the `radical.entk` module to build.

On Summit:
[code]

Output from the last command:
[code]

I'm not sure where to find the logs it's referring to. I apologize for what is almost certainly an idiot mistake on my part.

[2020-06-25 19:32] mturilli commented on #457
Hi @wilkinson, that is indeed unexpected. On Summit, I use the following modules:
[code]

I just tested EnTK installation and it was successful:
[code]

Note that I created my environment with `virtualenv -p python3.7`

[2020-06-25 19:48] wilkinson commented on #457
I can report a successful build using the modules you suggested. I'm not sure why they're necessary, but I can ask at OLCF for that part. Thanks!

[2020-06-25 19:48] #457 closed

[2020-06-25 21:28] wilkinson opened #458 "Can a resource description be "overridden"?"
Given the following EnTK program:
[code]

Is it possible to override parts of the "ornl.summit" resource description, specifically the queue that will be used? It would be nice to be able to specify the `debug` queue explicitly in a way that overrides the [default](https://github.com/radical-cybertools/radical.pilot/blob/devel/src/radical/pilot/configs/resource_ornl.json#L102).

[2020-06-25 23:47] mturilli commented on #458
I think you can use the key `queue` in the `resource_desc` dictionary. I find it at `src/radical/entk/execman/base/resource_manager.py` but I see we miss the `resource_manager.py` API at https://radicalentk.readthedocs.io/en/latest/api.html . Should we add it?

[2020-06-26 00:35] mturilli opened #459 "Document STDOUT/ERR"
I did not find this documented explicitly in EnTK. There is some (possibly outdated) documentation in RP. It might be worth considering whether to refer to it from EnTK's documentation.

[2020-06-26 01:24] wilkinson commented on #459
One reason that this would be very useful is because the documentation's ["Hello world" example](https://radicalentk.readthedocs.io/en/latest/user_guide/get_started.html) writes to STDOUT. Thus, in the very first program encountered, I was unable to verify that the program behaved as expected because I had trouble verifying the output.

[2020-06-26 01:48] wilkinson opened #460 "EnTK is not exiting cleanly on Summit"
This is just using the ordinary "Hello world" example, as adapted for Summit and Slate. Output from Summit indicates that the batch job completed successfully on Summit, but then it appears that EnTK does not exit cleanly. Especially puzzling is the "keyboard interrupt" part, because I definitely didn't press any buttons or kill anything.

[code]
[verbose.log](https://github.com/radical-cybertools

[2020-06-26 03:19] mturilli commented on #460
That exception is erroneously issued by Python and, so far, we did not find a way to avoid it :( It is indeed very confusing and a constant source of confusion. I create a pull request adding a waning after the very first example in the user guide. Feel free to review and suggest an alternative if you think it would not be too helpful.

About the failure, it looks like RP fails. I would like to tr

[2020-06-26 10:50] mturilli opened #462 "Several unit tests fail"
Unit tests should all pass at release time. Currently, I see the following tests failing:
[code]

[2020-06-26 17:57] lee212 commented on #456
c8b0552

[2020-06-27 02:40] akashban opened #465 "Not running all stages on eop.py"
Hi entk developers,

I am trying to run the eop.py example in the examples/simple folder. The script is supposed to generate 3 stages. However, only one stage is generated in the sandbox in my case. I have attached all the associated log files and the sandbox to this ticket. Please have a look as per your convenience and advise me on what I can do next.

[log_eop.zip](https://github.com/radical-cy

[2020-07-03 21:42] EsraaAbdelmotteleb opened #467 "EnTK issue"
I get this error when running any of my entk applications on bridges or comet. Most of these applications executed in the past with no issues.

radical-stack:
  python               : 3.8.3
  pythonpath           :
  virtualenv           : ve-rct

  radical.entk         : 1.4.0
  radical.pilot        : 1.4.0
  radical.saga         : 1.4.0
  radical.utils        : 1.4.0

[verbose.log](https://githu

[2020-07-06 14:19] EsraaAbdelmotteleb commented on #467
Any update on this? It is blocking my experiments. @lee212 can you help with this?

[2020-07-07 19:38] lee212 commented on #419
Hi Ayidn, this has not been addressed for a while. Do you still have the issue? Otherwise, I will close for now due to the ages but I am willing to look at the problem anytime.

[2020-07-07 19:38] #419 closed

[2020-07-07 19:39] lee212 commented on #416
It seems this has been resolved. Closing now.

[2020-07-07 19:39] #416 closed

[2020-07-07 19:49] lee212 commented on #333
@SrinivasMushnoori , I will close this ticket for now as it has not been updated for a while. If this was not resolved, please reopen and leave a comment.

[2020-07-07 19:49] #333 closed

[2020-07-07 19:52] lee212 commented on #321
@uvaaland , I will close this ticket for now as it has not been updated for a while. Also supporting mlab/atlas won't be a problem since there is a dedicated mongodb server from RADICAL team to use but feel free to reopen if this still should be addressed and leave a comment.

[2020-07-07 19:52] #321 closed

[2020-07-07 19:54] lee212 commented on #362
PR #385 fixes this

[2020-07-07 19:54] #362 closed

[2020-07-07 20:01] #440 closed

[2020-07-07 20:01] #437 closed

[2020-07-07 20:02] aydinsaribudak commented on #419
Hi @lee212 ,
Yes I guess it is not an issue for now. We will reopen the ticket in future if needed.
Thanks,
Aydin

[2020-07-07 20:46] lee212 commented on #465
Hi Akash,

Thanks for reporting this and your patience. I just noticed that the example, `eop.py` is outdated, I've created PR #469 to fix that. In the meantime, you can rerun your example by replacing `.uid` to `.name` at these two lines:
https://github.com/radical-cybertools/radical.entk/blob/a1961e7fd41887a183cc06adbe36a38f19b639c8/examples/simple/eop.py#L48

https://github.com/radical-cybertoo

[2020-07-07 21:44] lee212 commented on #467
@EsraaAbdelmotteleb ; I looked your log file it was failed due to the connection issue, I specifically say this:
[code]
We probably have to generate a more readable error message than this but can you confirm if you have access to Comet on your jetstream? This will confirm, for example:
[code]

I also need to see your `res_dict` in your script, maybe if you can share your script it might be easier

[2020-07-07 21:47] lee212 opened #470 "Hiding ID/PASS of MongoDB info in the screen?"
Users report log files but it contains like:
[code]

This should be suppressed from the screen.

[2020-07-08 20:45] wilkinson commented on #460
My apologies, @mturilli, here is the `demo.py3` program. It is very similar to the "Hello world" program given in the [RADICAL documentation](https://radicalentk.readthedocs.io/en/latest/user_guide/get_started.html).

[code]

[2020-07-08 21:26] mturilli commented on #460
Thanks @wilkinson , not a problem. I am going to try it out on Summit and report back.

[2020-07-08 22:19] akashban commented on #465
Thank you so much @lee212 . It works with .name. I will close the ticket.

Thank you for your help.

Kind regards,
Akash

[2020-07-08 22:19] #465 closed

[2020-07-08 22:29] EsraaAbdelmotteleb commented on #467
Hi @lee212. I've attached my script below. Please note that I get this error when using comet, bridges or stampede2.
comet-ln2.sdsc.edu

I have access to comet on jetstream.
`$ ssh comet.sdsc.edu hostname`  returns `comet-ln2.sdsc.edu`
[code.zip](https://github.com/radical-cybertools/radical.entk/files/4893538/code.zip)

[2020-07-08 22:43] lee212 commented on #467
Thanks. In your resource description, I find `gsissh` is  used, not `ssh`. These two are different authentications.  What do you see when you run `gsissh -p 2222 comet.sdsc.edu hostname` do you see the same results?

[2020-07-09 00:46] EsraaAbdelmotteleb commented on #467
`gsissh -p 2222 comet.sdsc.edu hostname` returns a connection refused error. I tried
`gsissh -p 2222 bridges.psc.xsede.org hostname` and was able to connect. But I still get the same error when I use bridges in my resource description.

[2020-07-10 18:32] mturilli commented on #460
Hi @wilkinson, I successfully tested your script doing the following:

* Prepare environment:
[code]
* Modify code:
[code]
* Execute code
[code]

[2020-07-28 18:18] lee212 commented on #467
`myproxy-logon` fixes the issue. I am closing this now.

[2020-07-28 18:18] #467 closed

[2020-07-29 17:53] lee212 commented on #426
@andre-merzky , to ping, Is the fix applied to SAGA? I think documentation is updated and if SAGA is finished, I can close this ticket.

[2020-07-29 17:54] lee212 commented on #426
FYI, the documentation: https://radicalentk.readthedocs.io/en/latest/user_guide/get_started.html?highlight=KeyboardInterrupt#getting-started

[2020-07-29 18:16] mturilli opened #472 "Create variable in Travis to store credentials for MongoDB"
https://github.com/radical-cybertools/radical.pilot/issues/2193

@mturilli to create testing DB/RBQ

[2020-07-29 20:41] andre-merzky commented on #426
No, I don't think that has been addressed in SAGA.  radical-cybertools/radical.saga#777 is linked to keep tack of progress there, but since that ticket is open in RS, feel free to close this one.

[2020-07-29 22:54] lee212 commented on #470
Updated approach is eliminating ID/PASS sections only like:
[code]

[2020-08-05 02:23] akashban opened #473 "Keyboard Interrupt error"
Hi ENTK developers,

I am getting the keyboard interrupt error whenever I try to run any of the entk examples. My entk stack was working until friday, and then suddenly started giving this error. I have installed a new version and made sure to have the latest build on the master branch. Please have a look at my error files. With this specific error, I am not sure where to start debugging. It would

[2020-08-10 22:39] SrinivasMushnoori commented on #473
Please leave the output of `radical-stack` here?

[2020-08-10 23:22] akashban commented on #473
python               : 3.7.5
  pythonpath           :
  virtualenv           : /home/votca-machine-ubuntu-19/ve-entk

  radical.entk         : 1.4.0-v1.4.1@master
  radical.pilot        : 1.4.1
  radical.saga         : 1.4.0
  radical.utils        : 1.4.0

[2020-08-11 05:33] andre-merzky commented on #473
Thank you @akashban, and sorry for the later reply.  Can you please create a tarball of the pilot sandbox, too?  You should find it in `$HOME/radical.pilot.sandbox/re.session.votcamachineubuntu19-OptiPlex-9010.votca-machine-ubuntu-19.018479.0001/ `.  It looks like the pilot did not come up correctly.

[2020-08-11 17:33] akashban commented on #473
[re.session.votcamachineubuntu19-OptiPlex-9010.votca-machine-ubuntu-19.018479.0001.zip](https://github.com/radical-cybertools/radical.entk/files/5058411/re.session.votcamachineubuntu19-OptiPlex-9010.votca-machine-ubuntu-19.018479.0001.zip)

Thanks for the instructions, Andre. I have attached my sandbox here.

[2020-08-13 09:17] andre-merzky commented on #473
Hi @akashban , thanks for providing the files.  If you have a look into `bootstrap_0.out`, you will see that the bootstrapper complains about `curl` not being available, and also `virtualenv` not being found.  Either error should be recoverable (if virtualenv is not installed, we use curl to fetch and install it locally; if curl is not available, we use the system's virtualenv command) - but we ca

[2020-08-13 22:48] akashban commented on #473
Thank you so much @andre-merzky . It worked. I will make a note of this solution and close the ticket.

Thanks
Akash

[2020-08-13 22:48] #473 closed

[2020-08-19 17:43] lee212 commented on #426
I can close this for now as but happy to revisit anytime if it persists.

[2020-08-19 17:43] #426 closed

[2020-08-26 03:31] lee212 opened #476 "Version update message for older stacks"
To encourage using the latest version of RCT, it is useful if a version check is enabled with a message to update.

[2020-08-26 05:11] lee212 opened #477 "Keeping directory structure in `shared_data`?"
Current implementation flattens/removes directory structure and stores data in one place. Does it require to keep the directory structure?

Example:
[code]

[2020-08-26 06:29] andre-merzky commented on #477
PS.: please always label tickets - thanks :-)

[2020-08-26 14:38] #470 closed

[2020-09-08 15:21] lee212 opened #479 "Q. Assiging multiple gpus"
I have a mpi process asking two ranks and two gpus per rank, which the task description looks like:

[code]

and the `.sl` file seems okay but the erf file `.rs` doesn't, it only has one gpu core assigned.
the sl file looks:
[code]

and `.rs` file:
[code]

what would be a correct task description to allocate two gpus per rank?

[2020-09-08 16:09] andre-merzky commented on #479
This is the correct task description, and the slots file confirms that the scheduler interprets it correctly.  The error seems to be caused by the jsrun launch method in RP.  I opened radical-cybertools/radical.pilot/issues/2219 for this.  What is the priority on the issue?  Thanks, Andre.

[2020-09-08 16:42] lee212 commented on #479
This prevents running pytorch distributed version on Summit for workflow-2, I had to manually generate jsrun command in pre_exec instead.

[2020-09-16 21:16] andre-merzky commented on #479
Please give the RP branch `hotfix/issue_re_479` a try - it should resolve this issue.

[2020-09-18 08:27] lee212 opened #480 "pika connection issue"
[code]

this was generated while experiments were running on summit.

RMQ service used from
[code]

[2020-10-03 23:11] mturilli opened #481 "Align thread/processes definitions between EnTK and RP"
The current differences create unnecessary confusion.

[2020-10-03 23:18] andre-merzky opened #482 "`examples/misc/lfs_tagging_dd.py` is out of date"
`cpu_reqs` need to be set as dictionary, not via individual keys.

[2020-10-10 00:00] andre-merzky opened #484 "feature request: job_name attribute in resource description"
See radical-collaboration/hpc-workflows/issues/122: EnTK should forward `job_name` settings to RP.

[2020-10-14 14:44] akashban opened #486 "Stampede2 Resource Tag"
HI ENTK Developers,

I am trying to launch my ENTK script on Stampede2 with the resource tag "xsede.stampede2_ibrun". I am not able to control the number of nodes with this resource tag. By default, it runs the code on 1 node. I am guessing that the ibrun command is not executed and hence the code runs just on 1 node.

I have also tried using "xsede.stampede2_ssh", but that didn't resolve the issu

[2020-10-14 17:49] ethzan opened #487 "EnTK Hangs"
When running poe.py simple example, EnTK hangs when "Setting Up RabbitMQ system."

Log files attached. Screenshot of where it hangs also attached.

![Screen Shot 2020-10-14 at 12 55 38 PM](https://user-images.githubusercontent.com/43612547/96026096-104c9d00-0e24-11eb-920e-e64b52521329.png)

[logs.tar.gz](https://github.com/radical-cybertools/radical.entk/files/5379974/logs.tar.gz)

[2020-10-14 20:30] euhruska opened #488 "file discovery"
Is it possible to enable file discovery? If a task doesn't find a file in the sandbox task directory, entk would go into the $SHARED directory (or an user-specified directory) to see if entk can find the file there. Currently each file can be linked/copied from $SHARED to the sandbox task directory, but allowing file discovery could allow to streamline this step. Note: this is not mainly about the

[2020-10-21 18:39] euhruska opened #489 "hidden rabbitmq for localhost"
When entk is run on localhost, then rabbitmq could be hidden from the end-user, at least as an option. Entk would launch it's own rabbitmq-server, with no parameters or options for the end-user. Is it possible to implement this?

[2020-10-21 20:30] iparask commented on #462
Closing as it is resolved

[2020-10-21 20:30] #462 closed

[2020-10-21 20:31] iparask opened #490 "Increase coverage to at least 40%"
Unit tests should cover at least 40% of the code based until the November release

[2020-10-21 20:34] iparask commented on #490
Also include #436

[2020-10-21 20:37] iparask commented on #405
I'll close this for now. Will reopen when it is needed again

[2020-10-21 20:37] #405 closed

[2020-10-22 15:34] #401 closed

[2020-10-22 15:42] iparask commented on #481
Hello @mturilli, I just checked the attributes naming and it seems to be the same. From RP, we have:

[code]

EnTK introduces dictionaries for CPU and GPU requirements. I can either change the dictionary keys to much RPs or make a API change on EnTK to much that of RP. I think the first option is better and I will introduce a deprecation message for users.

[2020-10-22 20:09] iparask opened #493 "Unit tests require more than 10 minutes to run on Travis."
Hello @mturilli, @andre-merzky, @lee212 ,

I just realized that the unit tests require more than 10 minutes to run on Travis. I believe this has to do with the hypothesis package and it tests more than 100 test cases per test.

I was thinking of removing it and bring the unit test suite closer to RP.

Can you please let me know of your thoughts?

Thank you,
Giannis

[2020-10-22 20:53] andre-merzky commented on #493
It would certainly be good to reduce the test time - maybe that makes the tests also runnable on localhost again (I frequently do not manage to get EnTK tests to pass locally :-/).  But we also don't want to loose coverage in that reduction...  I also don't know enough about `hypothesis` and it's usage in the tests to argue one way or the other, I'm afraid...

[2020-10-23 18:46] akashban commented on #486
To add to the previous message, I would like to also provide the associated log files in the sandboxes. Unfortunately, the sandbox on stampede2 is too big to upload on this ticket. Hence, I am only providing the sandbox that is generated on my laptop.
[local_sandboz.zip](https://github.com/radical-cybertools/radical.entk/files/5431293/local_sandboz.zip)

[2020-10-23 20:29] mturilli commented on #489
With RabbitMQ this is complicated and likely not viable. RMQ needs to bind to a specific port that, in turn, needs to be open and available. Running multiple RMQ on the same host generates problems for the same reason. It can run well in a container but then we make assumptions about the availability (and permission to use) of a specific OS-level virtualization technology. Finally, RMQ has fairly

[2020-10-27 18:07] iparask opened #495 "Collections ABCs are deprecated."
I get the following warning with EnTK:
[code]
Although it is not important now, we should take care before it is too late.

[2020-10-29 19:38] mturilli commented on #493
As discussed, I think we need to understand pros/cons of using `hypothesis` and whether, if we decide to keep using it, we can speed it up or split it across multiple tests.

[2020-10-29 20:27] iparask commented on #481
Closing as PR #492 is merged

[2020-10-29 20:27] #481 closed

[2020-10-29 21:11] iparask commented on #436
I think the reason is because of the following two reasons: 1) tests still run full examples and 2) the same tests use hypothesis.

Hypothesis runs a test for 100 different inputs. As a result, every test that is a full example runs for 100 times. Also In those tests timeout by hypothesis is disabled. This causes the "never finishes" you are experiencing. I am starting to think that if the tests s

[2020-10-29 21:58] andre-merzky commented on #436
Thanks @iparask , that seems to make sense.  Do you have any insight how useful hypothesis is for the test suite?

[2020-10-29 22:01] iparask commented on #436
I am not sure yet. It does produce different types of input and it might find corner cases. Based on its documentation that is the purpose of hypothesis. As I am getting more accustomed to it I will realize whether or not it is useful for our systems.

[2020-10-30 13:41] iparask commented on #484
This is blocked by #496. The tests of the components need to be changed are updated and I would like test to follow any development.

[2020-10-30 16:06] akashban commented on #486
[re.session.abanerjee-OptiPlex-990.abanerjee.018563.0001.zip](https://github.com/radical-cybertools/radical.entk/files/5466199/re.session.abanerjee-OptiPlex-990.abanerjee.018563.0001.zip)
[verbose1.log](https://github.com/radical-cybertools/radical.entk/files/5466200/verbose1.log)

Hi @lee212 , @andre-merzky

I am not able to use the "xsede.stampede2_ibrun" resource tag properly. I am not able to

[2020-10-30 16:18] andre-merzky commented on #486
@lee212 : can you please take care of this issue?

@akashban : I think there is some misunderstanding on the role of the config file.  You should not need to edit that at all in order to increase the number of cores that the pilot uses or a task uses.  For that, you should set the resource requirements in the resource description and the task description, respectively.  What code are you trying to

[2020-10-30 16:55] akashban commented on #486
@andre-merzky : Sorry for the confusion, I meant config files of our internal group project ( PACE, developed by Srinivas). I am setting the resource requirements in the config files specially made for PACE.

{
	"resource"      : "xsede.stampede2_ibrun",
	"walltime"      : 30,
	"cpus"          : 64,
        "gpus_per_node" : 0,
        "access_schema" : "gsissh",
        "project": "XXXXXXXXXX", #

[2020-10-30 18:39] andre-merzky commented on #486
Then the answer really depends on what PACE does with that dictionary - maybe that is really a question to @SrinivasMushnoori ?  Or are you able to point us to the code which shows how PACE translates that dictionary into a EnTK resource description?

[2020-10-30 21:51] akashban commented on #486
Yes, absolutely. I am attaching 3 files
1. PACE : this is the main ENTK script (you will find res_dict on line 595)
2. simconfig_DPPC_stampede2.json : has information about the simulation ( executable, pre_exec, etc.)
3. resconfig_stampede.json : has information to set the resource requirements on stampede2.
[PACE-ENTK script.zip](https://github.com/radical-cybertools/radical.entk/files/5467796/PA

[2020-10-30 22:58] andre-merzky commented on #486
If I am reading your configs correctly, the `cpus` key in the resource config is evaluated as `cores`, and your pilot is getting a single node as Stampede-2 nodes feature 64 cores per node.  If you want more cores and nodes, you may want to increase that number to `n * 64` for `n` nodes.

Any single task you are running is using a single core though: the PACE script reads the `pipeline_cores` valu

[2020-10-30 23:42] akashban commented on #486
1. Yes, I want to use the entire single node on stampede2 for my MD simulations. Thank you for the explanation for multiple nodes.
2. Yes, thats not expected behavior, we want simulations to use multiple cores. Could you point me to an ENTK example script where I can learn how to effectively assign the number of cores to different tasks?

Thank you so much for your help. I sincerely appreciate it.

[2020-10-30 23:48] andre-merzky commented on #486
Maybe [this section on `cpu_reqs` from the documentation](https://radicalentk.readthedocs.io/en/latest/dev_docs/dev_api/task.html#radical.entk.Task.cpu_reqs) is helpful: the `processes` value translates to the number of MPI ranks created, the `threads_per_process` value translates to the number of cores each rank can use.

[2020-10-31 01:23] akashban commented on #486
That worked! I am able to change the number of cores as per my requirements. Thank you so much @andre-merzky for all your help.
Have a great weekend!
Kind Regards,
Akash

[2020-10-31 04:41] tirkarthi commented on #495
I have created https://github.com/radical-cybertools/radical.entk/pull/497 to fix this

[2020-10-31 23:04] andre-merzky commented on #486
Great :-)

[2020-10-31 23:04] #486 closed

[2020-11-02 14:58] #495 closed

[2020-11-02 16:30] iparask commented on #340
I do not what this means, so I am closing the ticket

[2020-11-02 16:30] #340 closed

[2020-11-03 15:38] #436 closed

[2020-11-03 15:38] #490 closed

[2020-11-03 15:38] #493 closed

[2020-11-03 17:03] iparask commented on #484
So, I was just wondering. We can setup the session name and that sets up the sandbox folder name. Wouldn't it make more sense to use that as the job name? This is the same for RP.

[2020-11-03 19:04] andre-merzky commented on #484
That would invalidate multiple pilots in one session, and would also require pilot names to be unique to avoid sandbox colissions...

[2020-11-03 22:34] iparask commented on #484
Currently blocked by radical-cybertools/radical.pilot#2248

[2020-11-03 22:40] iparask opened #500 "EnTK and runtime id mapping"
EnTK should provide a mapping between its task ids and runtimes ids. Essentially, when the workflow is written as a json file. Currently, a workflow looks like:
[code]

the feature ask for:

[code]

[2020-11-03 22:40] iparask commented on #500
@mturilli, is this according to our discussion?

[2020-11-05 19:12] ethzan commented on #487
Just following up on this, as I'm still running into this issue. Please let me know if you need additional logs. Thanks!

[2020-11-05 19:30] iparask commented on #487
Hello @ethzan,

I would suggest to execute the get started example under `user_guide` folder. Setup the following environment variable
- `RMQ_HOSTNAME`
- `RMQ_PORT`
- `RMQ_USERNAME`
- `RMQ_PASSWORD`

for example:
[code]
Then find the `radical.pilot.sandbox` folder, probably it is in your home directory.

I think you are using Anaconda python. If that is true, please change lines 49-54 of the examp

[2020-11-06 18:24] mturilli commented on #500
Yes, I think that would be a way to address the mapping. We will then have to pick that value up in analytics and I think that should be relatively straightforward?

[2020-11-06 19:21] andre-merzky commented on #500
Hmm, the `tree` provided [here](https://github.com/radical-cybertools/radical.entk/blob/devel/src/radical/entk/utils/prof_utils.py#L131) should have all that information already, and that structure should already arrive in RA.  We should check why that is not used before implementing an additional way for the same information...

[2020-11-06 19:36] iparask commented on #500
The tree does not have all the information:
[code]
We just need to add an entry there.

[2020-11-06 19:51] andre-merzky commented on #500
Hmm, the stage/task relation should be there (children is filled), but the following does indeed not work:
[code]
results in
[code]
(this is after running `examples/simple/poe.py` on an up-ti-date stack)

[2020-11-06 19:56] iparask commented on #500
there is this [line](https://github.com/radical-cybertools/radical.entk/blob/devel/src/radical/entk/utils/prof_utils.py#L186) that creates the relationship you require.

As I understand it, the way the workflow is written is not compliant with RA. Let's try the following then:
1. Workflow json being RA compliant
2. Introduce the new entry

@andre-merzky , @mturilli  what do you say?

[2020-11-06 21:56] andre-merzky commented on #500
I think it might be much simpler: it seems like RE needs to call `write_session_description(amgr)` before closing, and that actually creates that tree and stores it in the session dir, and `get_session_description` picks it up from there?

[2020-11-06 22:07] andre-merzky commented on #500
Yeah, once that is done, this all actually works:
[code]

[2020-11-06 22:23] mturilli commented on #500
I am not sure I follow your last comment. The problem is mapping tasks to unit right?

[2020-11-07 08:13] andre-merzky commented on #500
Ah, I am sorry, I was on the wrong track indeed then!  I tried to figure out the mapping from tasks to stages, stages to pipelines...
As for RE tasks to RP tasks: I would suggest to allow *setting* the RP task UID by RE, so that they share the same ID across the stack.  That is easy to implement, and will also help when integrating other systems with the same problem.

Another approach would be to

[2020-11-07 08:32] andre-merzky commented on #500
The first approach is now implemented in radical-cybertools/radical.pilot/pull/2250 - happy to get feedback.

[2020-11-10 17:11] akashban opened #501 "Not able to move beyond the first simulation task in workflow"
Hi ENTK developers,

I have made a workflow which has the following layout : Simulation (STAGE 1) -> Analysis (STAGE 2) -> Extended simulation. (STAGE 3)

This works when the simulation runs for short durations ( 10 simulation steps). However, when I increase the number of steps to the 50,000, the following happens:

1. The simulation terminates successfully
2. But the following analysis is not la

[2020-11-13 00:14] SrinivasMushnoori commented on #501
Ping. @lee212 @andre-merzky
Essentially, task completion does not seem to be reported to EnTK. This appears to be happening erratically, from what I can gather from my discussion with @akashban

[2020-11-13 06:27] andre-merzky commented on #501
@lee212 : Hyungro, could you please have a look?

[2020-11-16 15:08] #484 closed

[2020-11-18 03:24] akashban commented on #501
Hi @lee212 @andre-merzky @SrinivasMushnoori ,

Just wanted to follow up on the above ticket. I am having an issue with task completion in my ENTK workflow. My MD simulation terminates, but the consequent stage is not launched. This only happens when the MD simulations runs for a higher number of MD steps (takes longer time). I was wondering what I could do to debug this issue.  (I have made sure t

[2020-11-18 03:44] lee212 commented on #501
@akashban , can you check your stack by run this: `radical-stack`?

Also, I need to see debugging messages from your log files but it requires you to set env variables prior launching your job by:
[code]
could you re-run after this enabled?

[2020-11-18 04:12] akashban commented on #501
This is my radical-stack:

python               : 3.7.2
  pythonpath           :
  virtualenv           : /home/abanerjee/ve-entk

  radical.entk         : 1.5.5-v1.5.5@master
  radical.gtod         : 1.5.0
  radical.pilot        : 1.5.7
  radical.saga         : 1.5.7
  radical.utils        : 1.5.7

Currently, my remote resource (stampede2) is undergoing maintenance. I will re-run the code once it

[2020-11-18 14:43] iparask commented on #500
As far as I remember, we said that RE will not change the UIDs from the runtime system is uses. Instead it will probe them and add them in the workflow json file. @andre-merzky that does not mean that the custom UID you've already implemented is not useful. Probably not for this.

@andre-merzky, @mturilli please correct me if I am not remembering correctly.

[2020-11-18 14:48] andre-merzky commented on #500
The custom UID has indeed somewhat different purposes.

Can we maybe reopen the discussion though why we don't use the Task uid in RE as Task uid in RU?  That would not only make this part of the problem mute, but would also be intuitive for the users (like me for repex): when I have a task `task.0001`, I simply have a hard time finding out that I need to check sandbox `unit.0007` for it's output.

[2020-11-18 15:15] iparask commented on #500
We are still discussing about the mapping right? In the case of the mapping, we want to be independent of the runtime system we are using. RP may provide the capability to change the task id, but another may not. If we make the assumption, when writing the json file, that the runtime system task id is the same as EnTK's then we will not map correctly when the runtime system task id is different. A

[2020-11-18 15:18] andre-merzky commented on #500
That's all nice and well, but in practice, RP is currently the only runtime system to RE, and RA ID portability is only and issue with RP.  If another runtime system comes along, we likely have to find a different solution anyway - why should we address this now (and how)?

I agree with the second part :-D

[2020-11-18 15:55] iparask commented on #500
RE knows the unit ids. We just have to add a key in the task entry, like the example in the first comment. This allows the json to be runtime independent, right?

I am not sure I understand, sorry. It is true that we are not addressing which runtime systems EnTK uses. We are discussing how to expand a utility function to include the IDs of the runtime system. Since EnTK knows the runtime system id

[2020-11-18 16:02] iparask commented on #500
Now, there is a more important issue. There are two functions that write the workflows in json files. Those are [`write_workflow`](https://github.com/radical-cybertools/radical.entk/blob/devel/src/radical/entk/utils/prof_utils.py#L222) and [`write_session_description`](https://github.com/radical-cybertools/radical.entk/blob/devel/src/radical/entk/utils/prof_utils.py#L102). I suggest to remove one

[2020-11-18 20:58] andre-merzky commented on #500
Yeah, apologies, I should not be confusing the two issues.  There is no problem whatsoever with recording the IDs in the json files, and I don't mind if RE does not make assumptions about those IDs - so that's not a problem at all, and should be done.  I hoe that clarifies that part :-)

*Having said that*, the RCT stack will still be simpler to understand, and RA will be simpler to use and to cod

[2020-11-18 21:01] iparask commented on #500
Thank you, because I'm almost done!

Let me suggest that I open a feature request and implement the custom RP ID in EnTK when RP's PR is merged with devel. Do you agree?

[2020-11-18 21:13] andre-merzky commented on #500
:-)

Sure!

[2020-11-19 05:29] lee212 commented on #479
Yes, it does. and this is updated erf file:
[code]

[2020-11-19 05:29] #479 closed

[2020-11-19 20:29] #500 closed

[2020-11-20 16:37] Weiming-Hu opened #509 "Connection reset while transferring stages"
I'm testing on a small toy example. I have one executable that simply waits for 10 minutes. This workflow requires 1 core and 1 hour of resources. When the executable finishes waiting, EnTK got stuck and never made any progress.

Below error message can be found from the client-side logs:

[code]

I have done a bit study on this issue and I have found a workaround.

I have added the following line

[2020-11-20 17:19] Weiming-Hu commented on #509
A quick update. The responses with and without `heartbeat_interval=0` are pretty consistent after several testing. Whenever I comment out the line, the connection will be reset after sleeping for 10 minutes; Whenever the line is used, the connection is live and EnTK succeeded with no problems.

By the way, the interface of `pika` changes in its release of 1.x versions. `heartbeat_interval` seems t

[2020-11-20 17:46] Weiming-Hu commented on #509
Another update. The following changes would be sufficient to change the default parameters used by `pika` so that I don't have to change the source code of EnTK.

[code]

I have set both `DEFAULT_HEARTBEAT_INTERVAL` and `DEFAULT_HEARTBEAT_TIMEOUT` because it depends on the version. To be safe. I set both.

Then, when I test the toy case, there is no longer a connection resetting problem.

[2020-11-20 22:29] akashban commented on #501
[myfiles.zip](https://github.com/radical-cybertools/radical.entk/files/5576387/myfiles.zip)

Hi @lee212 ,

I re-ran my ENTK script with the above instructions and then used the radical-fetch command.
Please have a look at the attachment.
My ENTK scripit is there in the ENTK folder under the name "PACE"

Thank you for your help
Akash

[2020-11-23 14:10] mturilli commented on #489
Can we close this ticket?

[2020-11-23 14:12] mturilli commented on #487
@ethzan any follow up? Can we help?

[2020-11-23 14:13] mturilli commented on #480
@lee212 any follow up?

[2020-11-23 14:14] mturilli commented on #477
@lee212 any follow up?

[2020-11-23 14:16] mturilli commented on #472
@lee212 this is done right?

[2020-11-23 14:16] #460 closed

[2020-11-23 14:17] mturilli commented on #459
@iparask could you have a go at this? Happy to help.

[2020-11-23 14:18] mturilli commented on #458
@iparask could you have a go at this? Happy to help.

[2020-11-23 14:19] #489 closed

[2020-11-23 14:20] mturilli commented on #456
@lee212 can we close this ticket?

[2020-11-23 14:21] iparask commented on #472
It was done. I remember removing them when I started refactoring the tests. I am closing this issue

[2020-11-23 14:21] #472 closed

[2020-11-23 14:22] #448 closed

[2020-11-23 14:25] mturilli commented on #439
@lee212 based on what we learned on Summit, is this due to RBMQ latency or is it an actual bug? I see that is assigned for January milestone, does that mean you know already how to fix this?

[2020-11-23 14:27] mturilli commented on #429
@iparask any update on this?

[2020-11-23 14:28] mturilli commented on #428
@iparask do you think we could address this before Dec 2020 release?

[2020-11-23 14:29] mturilli commented on #421
@andre-merzky any follow up on this?

[2020-11-23 14:29] mturilli commented on #417
@iparask good for Dec release?

[2020-11-23 14:30] iparask commented on #428
I am not so sure. I have not checked this issue because we said with @lee212 that it will be included in the Jan 2021 release. Let me take a look at it and come back at you.

[2020-11-23 14:31] mturilli commented on #410
@iparask could you pick this up? Based on priority and after you review it, could you tell whether we can target this for Dec release?

[2020-11-23 14:32] iparask commented on #429
Yes, this is work in progress. Currently, I am trying to understand how the colocation scheduler works exactly, because I am not sure if it schedules units. Also, there is this issue: radical-cybertools/radical.pilot/issues/2258

[2020-11-23 14:32] #409 closed

[2020-11-23 14:33] mturilli commented on #402
@iparask can we close this ticket?

[2020-11-23 14:33] #330 closed

[2020-11-23 14:34] iparask commented on #402
Yes

[2020-11-23 14:34] #402 closed

[2020-11-23 14:34] mturilli commented on #356
@iparask should we target Jan 2021 for release of unit/integration tests or is the separation between the two already ready for Dec 2020 release?

[2020-11-23 14:35] iparask commented on #356
I think integration tests are for Jan 2021. I am not confident that I will be able to create them for December. I still do not know what kind of issues, we will have to face when RP components are introduced.

[2020-11-23 14:36] mturilli commented on #337
@iparask let's review this and decide what to do with that page.

[2020-11-23 14:38] mturilli commented on #331
@iparask could you review `fix/issue_331`? We can then discuss what to do with this.

[2020-11-23 14:44] mturilli commented on #320
@andre-merzky do you have any background on this one? If not, I will consider it lost to passing of time.

[2020-11-23 14:45] #319 closed

[2020-11-23 14:47] mturilli commented on #313
@andre-merzky @iparask time to pick this up again?

[2020-11-23 14:47] mturilli commented on #312
@andre-merzky @iparask time to pick this up again?

[2020-11-23 14:49] mturilli commented on #269
@andre-merzky @iparask we should discuss this to see whether we can derive useful requirements for EnTK development roadmap. After that, I think we should close this ticket.

[2020-11-23 14:50] mturilli commented on #255
@iparask this need to be picked up again in the context of fault-tolerance/resilience development roadmap.

[2020-11-23 14:51] iparask commented on #255
Yes, it is scheduled for December.

[2020-11-23 14:51] mturilli commented on #243
If we get github discussions, this should be transitioned there.

[2020-11-23 14:54] #222 closed

[2020-11-23 14:55] mturilli commented on #212
@iparask let's discuss this alongside #255. The goal is to come up with a development roadmap to improve fault-tolerance and resilience in EnTK.

[2020-11-23 14:57] andre-merzky commented on #269
@mturilli : ack.  I suggest we open a wiki page to track requirements like this.  Like [here](https://github.com/radical-cybertools/radical.entk/wiki/Development)

[2020-11-23 14:57] #269 closed

[2020-11-23 15:09] iparask commented on #337
I do not think we need it in full. We can have a test example under the development guide nothing more. I would like to move Travis, coverage and other badges in the main page of the documentation.

[2020-11-23 15:12] iparask commented on #482
This is part of the tags fix work. The issue will be linked in the PR that resolves tags

[2020-11-23 15:17] mturilli commented on #337
I agree. Should we plan it for Dec release?

[2020-11-23 15:24] mturilli commented on #269
@iparask I linked the Development page on the wiki homepage.

[2020-11-23 15:27] iparask commented on #417
@andre-merzky is this the `from e` that I am adding in all exceptions? If yes, it is already happening as I test and lint files. Also, some parts of it is already released in November.

[2020-11-23 15:28] iparask commented on #337
Yes. I think we should. Let me push it in the unit tests branch the next couple of days and assign you as a reviewer.

[2020-11-23 15:44] andre-merzky commented on #313
Yes, I would be in favor of licking that up.  Compared to the discussion last time, I would add that RU now has a type safe dictionary class which does many of the things discussed here, and we should use it where appropriate (we use it for task descriptions and configs in RP and elsewhere).  I would not mind taking a stab at that on the RU level.

@iparask , @mtitov : would be glad to hear your i

[2020-11-23 15:47] andre-merzky commented on #312
Sure, this is easily done.  Let me do that.

<tap tap tap>

have a look here: #510

[2020-11-23 15:48] andre-merzky commented on #320
I don't think we should pursue this right now.

[2020-11-23 15:48] #320 closed

[2020-11-23 15:53] andre-merzky commented on #428
I think this is worked around at the moment - obvious I guess because RE works with RP devel right now, so priority can be lowered.  In general this should still be addressed: RP makes no promise that a session survives a process fork, and I would not be surprised if that pops up again at some point...

[2020-11-23 15:54] andre-merzky commented on #417
Yes, indeed - I saw that you applied that in several places, and the remaining ones should be easy to do I guess...

[2020-11-23 15:54] mturilli commented on #356
Can we approach integration tests incrementally and have the 'framework' part in place by the end of the year? I am asking because that would be consistent with our initial roadmap.

[2020-11-23 15:55] mturilli commented on #428
Thanks. Should we all agree to move this to say, Feb 2021 release then?

[2020-11-23 15:55] andre-merzky commented on #421
No, but I would assume that this is a duplicate for #428.  Let me close this one.

[2020-11-23 15:55] #421 closed

[2020-11-23 16:04] andre-merzky commented on #428
I am not sure how involved that is, so would prefer if @iparask has a look at the code first and maybe can then provide some time estimate?

[2020-11-23 18:45] lee212 commented on #456
Yes, let me close

[2020-11-23 18:45] #456 closed

[2020-11-23 19:06] lee212 commented on #480
I suspect this issue was a system-related one-time failure, not particularly about entk. Let me close for now, and revisit later if this happens again.

[2020-11-23 19:06] #480 closed

[2020-11-23 19:38] iparask commented on #380
No files and folders are currently created while running the test suite. I agree this should not be case and it had to do with the fact that we were running examples to test. I will close this issue

[2020-11-23 19:38] #380 closed

[2020-11-23 20:09] #312 closed

[2020-11-23 20:25] iparask commented on #331
Yes.

[2020-11-23 20:35] ethzan commented on #487
@mturilli @iparask Sorry for the delay--here are the logs. I did the above and the hanging is still happening. Thanks!

[logs.tar.gz](https://github.com/radical-cybertools/radical.entk/files/5585629/logs.tar.gz)

[2020-11-23 20:46] iparask commented on #331
Pika is frozen in the setup file to version `0.13.0`. We can keep this issue open as #480 has to do with the same subject. Having said that I deleted the `fix/issue_331` branch as it was the same with devel

[2020-11-23 20:51] iparask commented on #509
Hello @Weiming-Hu, let me try to reproduce it and I will get back at you. Can you let me know where is your RMQ compared to EnTK and which resource you are using for this toy example?

Thank you

[2020-11-23 22:01] Weiming-Hu commented on #509
Thank you for the response.

My workaround is currently working.

I'm using NCAR Cheyenne. Below is my stack information:

[code]

I'm connecting to RMQ prepared for me by @mturilli. I'm sorry I don't know the details about the RMQ though.

[2020-11-24 07:30] mturilli commented on #331
Does it make sense to have a look at the current version of pika and see whether upgrading has some advantages? I am worried we will end up too behind master. It is true we may eliminate pika/rbmq altogether but maybe worth a brief investigation? Thoughts?

[2020-11-24 20:23] iparask commented on #509
I see two things that have to do with RabbitMQ heartbeats and connections closing. The first is that RMQ after version 3.5.5 changed the heartbeat from 580 secs to 60secs. Our RMQ version is 3.8.9. The second is that RMQ server disconnects when a connection is idle for several minutes ([here is a stackoverflow discussion](https://stackoverflow.com/questions/14572020/handling-long-running-tasks-in-

[2020-11-24 20:43] akashban commented on #501
Hi @lee212 , @SrinivasMushnoori
I wanted to follow up regarding task completion. I have updated my log files as per the above instructions in previous comment. Please let me know how I could resolve the issue.
Thank you for your help.
Akash

[2020-11-24 21:18] lee212 commented on #501
@akashban , I am checking it now, sorry for the delay.

[2020-11-25 00:09] lee212 commented on #501
@akashban , you may want to try again with the older version by:
[code]
I suspect the new release has a problem related to this and you might be able to avoid the issue by downgrading entk.

[2020-11-25 15:01] mtitov commented on #313
I would back up RU dictionary class (`Munch`) as Andre mentioned, I'm in favor of it and used it to describe some instances in RADICAL-DREAMER as well. It does define an instance structure and verifies attributes types [from the box]

[2020-11-25 15:19] iparask commented on #487
Hello @ethzan, in your home folder there should be a folder named `radical.pilot.sandbox`. In there, there should be a folder named `re.session.nbp-247-66.nbp.ruw.rutgers.edu.ethanzang.018589.0006` with a `pilot.0000` in it. In there there should be a file named `pilot.0000.log.tgz`. Can you paste that as well?

If it does not exist, remove the `rp_install` folder, tar everything and paste it here

[2020-11-25 15:31] iparask commented on #488
Hello @euhruska,

If I understand correctly, you are asking for EnTK to fall back to different directories based on whether a file exists in the sandbox or not. EnTK does not verify if a file used as input from an executable exists or not.  It assumes that the user has made sure to either provide the correct path to an input file or stage it correctly.

Having said that, I understand that there mi

[2020-11-25 15:43] ethzan commented on #487
HI @iparask, thanks for your help. I do not see that folder in `radical.pilot.sandbox`. However, I do see it in the `user_guide` folder, which was my current working directory when executing. Is this part of the issue? I have pasted the corresponding zip here. Thanks.

[re.session.nbp-247-66.nbp.ruw.rutgers.edu.ethanzang.018589.0006.zip](https://github.com/radical-cybertools/radical.entk/files/559

[2020-11-25 16:01] euhruska commented on #488
Can the sandbox setter be given an arbitrary path and it will execute there?

[2020-11-25 16:37] iparask commented on #488
The sandbox can point to any path on your target resource. The tasks which have the same sandbox path will all execute in that folder.

[2020-11-25 16:42] euhruska commented on #488
That should resolve this issue.

[2020-11-25 16:42] #488 closed

[2020-11-25 17:54] akashban commented on #501
@lee212 , Thanks so much, I will try this and come back to you.

[2020-11-25 19:36] iparask commented on #476
@lee212, can you provide an example of how you think this might work? I think we may have to go to all tags and add a warning.

[2020-11-25 21:07] Weiming-Hu commented on #509
Thank you. Is there a way to to set the hearbeat of EnTK task manager in the user code? Currently I'm changing the source code at `radical/entk/appman/appmanager.py`. But I'm wondering if we have a better solution to that? Thanks

[2020-11-25 21:53] iparask opened #512 "EnTK does not delete queues after completion"
EnTK does not consistently delete queues from the server after closing a session. That has resulted to the server having over 1K queues declared.
[code]

I would like to suggest that EnTK deletes the queues it creates after the completion of a session. What do you think?

[2020-11-25 22:13] andre-merzky commented on #512
Ouch...  Well, cleanup certainly makes sense.  We have to take care that queues only get deleted on actual completion, and not on any errors from which RE may want to recover: supporting that recover process is one of the main reasons why we have those queues in the first place...

[2020-11-27 19:04] akashban commented on #501
[logfiles.zip](https://github.com/radical-cybertools/radical.entk/files/5609282/logfiles.zip)
@lee212
I downgraded entk to 1.5.1. At first, the resource tag "xsede.stampede2_ibrun" did not work with entk 1.5.1. So, I used "xsede.stampede2_ssh". That seems to work but I am not sure if that would run my jobs. Currently, I am getting a keyboard interrupt error. I have attached the log files. The file

[2020-11-30 15:45] iparask commented on #487
To me this seems like a connection issue. Can you provide me with some more information about the system you are using, its capability to ssh to localhost without a password and the type of python you are using?

[2020-11-30 16:37] iparask commented on #509
I believe the environment variables should be enough. In a simple example, I changed the default values of heartbeat and timeout, as you show above. I logged the heartbeat value that the appmanager picked, and it was 0.

Please remove the change you made in the appmanager, and try to run a small example of your workflow by only setting the two default values in the user script. I think it will wor

[2020-11-30 18:11] Weiming-Hu commented on #509
Thanks for the reply. I'm afraid I'm not sure how to set the heartbeat in my user code. Could you give me an example without changing the source code? Thank you!

[2020-12-01 16:56] iparask commented on #509
This is how:

[2020-12-02 03:39] Weiming-Hu commented on #509
Ah. My bad. I misunderstood you. Thank you very much for the solution. I'm closing this.

[2020-12-02 18:33] iparask commented on #509
I am reopening this issue as it is not resolved cleanly. A workaround exists.

[2020-12-02 18:34] #337 closed

[2020-12-02 18:34] #458 closed

[2020-12-02 18:34] #459 closed

[2020-12-02 19:54] igory1999 opened #514 "Running on Summit in a killable queue"
Requested resources:
time: 12h,
cpus cores: 572,
gpus: 131,
queue 'killable'

Problem:
After about 2h the job got partially killed presumably by the Summit scheduler for preemption.
Some processes continued running probably for another hour or so before Radical decided that the job is over.
After that the job was never restarted by the scheduler (as it should in the killable queue) and disappeared

[2020-12-02 20:21] iparask commented on #255
I realized that this capability is not offered anymore. @mturilli, do you think we should bring it back?

[2020-12-03 00:18] akashban commented on #501
Hi @lee212 ,
Just wanted to follow up with this ticket. I downgraded ENTK, and I am facing a new issue. I have attached the log files.
Thanks
AKash

[2020-12-03 13:42] mturilli commented on #514
@andre-merzky this is something to discuss at RP level. We need to study how the killable queue works based on Igor's feedback and see whether there is a (very) short term solution and a more long-term solution to support that kind of queue behavior.

@lee212 do you confirm you observed the same as Igor with this queue on Summit?

[2020-12-03 16:21] mturilli commented on #255
Yes, we need to discuss fault-tolerance in EnTK as a main item of the development roadmap. Within that discussion, we need to think about pilot resubmission in case of RP failure. Part of that discussion is what we have already discussed about task resubmission in case of failure (we mentioned call backs and expanding the current API to express resubmission limits and fall-back options). Should we

[2020-12-03 16:32] mturilli commented on #512
I agree with @andre-merzky, we need to delete the queues only when we are sure EnTK exited cleanly and completed the execution of all the tasks. We should keep the scenario in which EnTK executes a workflow, some tasks fail and it cleanly exits. The user then wants to re-execute only the failed tasks. Do we need for the original queue to be there? Probably not but this is an example of what we nee

[2020-12-03 16:33] mturilli commented on #476
@lee212 ping

[2020-12-03 16:38] mturilli commented on #444
@lee212 ping

[2020-12-03 16:38] mturilli commented on #439
@lee212 ping

[2020-12-03 16:40] mturilli commented on #428
@iparask did you have a look at this? I think at the moment we just need to understand the issue enough to be able to make a first time estimation.

[2020-12-03 16:41] mturilli commented on #410
@iparask ping

[2020-12-03 16:43] #384 closed

[2020-12-03 16:45] mturilli commented on #382
@andre-merzky any news from ORNL?

[2020-12-03 16:46] mturilli commented on #359
@iparask ping

[2020-12-03 16:55] andre-merzky commented on #382
Oh, my aopologies - ORNL replied, but I missed the message.  Here it is:

Is there a way to have a closer look at the workload (replica 9 for @euhruska ) to make sure it is not an application level problem?  One option I could see is two wrap the job in a small shell script to check error codes etc. before returning to jsrun:
[code]
This way, segfaults etc. should not fall through to jsrun, or so

[2020-12-03 17:31] iparask commented on #255
I created the following script to test part of what Vivek wrote in the first comment. It is:
[code]

The second unit manager seems to get a different uid:
[code]

So I think at least for the Unit Manager that is not an issue anymore. I will develop tests for pilot failures to test the same messages from Vivek.

[2020-12-03 17:42] adw62 opened #515 "Error initializing session directory, err: -33"
Hello,

I'm trying to run RTC jobs on Summit. I have had trouble with jobs timing out this was fixed here: https://github.com/radical-cybertools/radical.pilot/issues/2278 by switching to the `devel` branch of radical.pilot

I am now encountering a new issue where previously working scripts now fail, the std.err from all jobs seems to be Error initializing session directory, err: -33

I have provid

[2020-12-03 17:47] mturilli commented on #515
Could you provide the script you are using, with the actual task description?

[2020-12-03 17:59] adw62 commented on #515
I have place the script I'm using here: `/gpfs/alpine/world-shared/chm155/alex/hybrid_tests/test.py`
Please ask if anything is not verbose enough.

[2020-12-03 19:38] andre-merzky commented on #255
I would think that getting a new UID is an issue?  Because it won't be able to reconnect to it's pilots, and will not be able to collect the units it was managing - it is basically a new and virgin UMGR then...  Or is that what you expect?

[2020-12-03 19:54] mturilli commented on #515
@adw62, at Line 162 I see TIES. Is that the name of the executable? If so, maybe use `./TIES`? I also see that at line 154 you change directory into `$WORKDIR`. Did you check whether that value is formed correctly at line 150?

[2020-12-04 10:45] andre-merzky commented on #514
It is unlikely that the pilot will survive kill and restart.  Even if the restart actually works, the pilot will not pick up any tasks which have been interrupted, or in fact any tasks which have arrived in the pilot before termination...

[2020-12-04 20:26] aydinsaribudak opened #516 "sample script fails to run on Bridges"
Hi,
I had an issue to run get_started.py on Bridges. The details are as follows:
[code]
[code]
error message on the console:

[code]

`squeue -u $USER` command did not list any jobs from the start until the termination.

Please let me know your suggestions?

[session.tar.gz](https://github.com/radical-cybertools/radical.entk/files/5645270/session.tar.gz)
https://github.com/radical-group/aydin/blob

[2020-12-04 21:00] aydinsaribudak commented on #516
Session client folder is added.

[session_client.tar.gz](https://github.com/radical-cybertools/radical.entk/files/5645437/session_client.tar.gz)

[2020-12-04 21:35] ethzan commented on #487
What information about my system would you like? I'm using a MacBook Pro 2.3 GHz Dual-Core Intel Core i5 with 8GB memory. Running `ssh localhost` gives me a `ssh: connect to host localhost port 22: Connection refused.` Should I look into ways to resolve this? Python version: `Python 2.7.16 :: Anaconda, Inc.` Thanks @iparask!

[2020-12-04 21:52] andre-merzky commented on #516
You should be able to find error causes by grepping for `ERROR` in the log files of the client and pilot sandbox.  You will find that the pilot sandbox does not contain any logfiles, so the pilot did not come up.  The client side will show:
[code]

where `bulk launch failed` should get your attention.  Looking closer, you will see:
[code]

and you'll find `Invalid account or account/partition comb

[2020-12-04 22:32] aydinsaribudak commented on #516
Thank you for the explanation @andre-merzky @mtitov @iparask
I was trying to run the entk script from Bridges login node. Ioannis suggested me to run the script from the VM.
I started a new run from the VM with the same script, but I am still getting the same error as Andre pointed above:
`, Batch job submission failed: Invalid account or account/partition combination specified`

Thanks.

[2020-12-04 22:37] mtitov commented on #516
@aydinsaribudak please check the project name you use

[2020-12-04 23:18] aydinsaribudak commented on #516
@mtitov
You were right.  The project name did not look correct. I updated the res desc as:
[code]
Now I have a new type of error:
On the client side:
radical.entk.appmanager.0000.log reports the following error:
[code]

[2020-12-04 23:32] AymenFJA commented on #516
@aydinsaribudak , can you specify the `queue` you want to run your code in on Bridges? Also, can you increase the amount of walltime? the minimum walltime is 30 minutes for a small queue on Bridges: check here https://portal.xsede.org/psc-bridges

[2020-12-04 23:54] aydinsaribudak commented on #516
New res desc:
[code]

radical.entk.appmanager.0000.log:
`1607125544.997 : radical.entk.appmanager.0000 : 30849 : 140029362980608 : ERROR    : Execution interrupted by user (you probably hit Ctrl+C), trying to cancel enqueuer thread gracefully...`

radical.entk.resource_manager.0000.log:
`1607125544.996 : radical.entk.resource_manager.0000 : 30849 : 140029362980608 : ERROR    : Execution interrupte

[2020-12-05 10:52] andre-merzky commented on #516
This would be the point where you repeat the grep commands from above to see if you find the error :-)

[2020-12-05 12:37] aydinsaribudak commented on #516
Following error logs are from bootstrap_0.out file under radical.pilot.sandbox session folder (Bridges):
`Couldn't install radical.pilot-1.5.7/! Lets see how far we get ...`
Couldn't install radical.utils-1.5.8/! Lets see how far we get ...
I will reinstall radical tools on a new environment, and report here what will I got.

[2020-12-07 14:31] iparask commented on #487
EnTK and its runtime system require a passwordless ssh connection between the machine you run the script and the machine things will actually be executed. As I understand it you want to run the `local.localhost` example on your Mac. Is this correct? I would say yes try and resolve this. [Here](https://radicalentk.readthedocs.io/en/stable/install.html#setup-passwordless-ssh-access-to-hpc-resources)

[2020-12-07 15:49] iparask opened #517 "AppMan does not fail after max attempts"
The application manager restarts the workflow processor, task manager, and synchronization thread if they fail. It allows though up to 3, as default, component restart regardless of the combination. If one of these components fails and causes the fourth failure, the application manager falls into an infinite loop.

This is observable by the latest unit test pushed in the `fix/unittests` branch. Th

[2020-12-07 16:43] akashban commented on #501
@lee212 ,
A gentle ping - Did you get a chance to have a look at my log files ?
Thanks
Akash

[2020-12-07 16:45] lee212 commented on #501
@akashban , sorry for the delay, I was looking at your log files but didn't find a clue what actually happened. Maybe @iparask , can find something that I didn't catch.

[2020-12-07 17:41] iparask commented on #243
Does this have to do with the task states or the RTS state? I've realized that EnTK does not distinguish between the final states of an RTS. Would it make sense to map the state of the RTS to internal states?

[2020-12-07 18:17] mturilli commented on #477
@lee212 ping

[2020-12-07 19:12] ethzan commented on #487
@iparask Thanks! I setup passwordless ssh to localhost on my mac, but it still appears I am running into the problem. I have attached the log files here. I am looking into setting up Linux and will try that instead + update soon.

[re.session.nbp-195-177.nbp.ruw.rutgers.edu.ethanzang.018603.0004.zip](https://github.com/radical-cybertools/radical.entk/files/5654733/re.session.nbp-195-177.nbp.ruw.ru

[2020-12-07 19:27] ethzan commented on #487
Reran with the `RADICAL_VERBOSE=DEBUG RADICAL_ENTK_VERBOSE=DEBUG python get_started.py` for more verbose logs and attached below.

[re.session.nbp-195-177.nbp.ruw.rutgers.edu.ethanzang.018603.0005.zip](https://github.com/radical-cybertools/radical.entk/files/5654821/re.session.nbp-195-177.nbp.ruw.rutgers.edu.ethanzang.018603.0005.zip)

[2020-12-07 19:31] mturilli commented on #243
This refers to separating by design (and eventually implementation) EnTK and RTS. Originally, this was derived from the requirements to use other task execution systems, e.g., Dask and others that now have disappeared. Today, this requirement is less urgent and I would suggest to de-prioritize against the one of designing EnTK for better performance. Comments, suggestions?

[2020-12-07 20:33] iparask commented on #516
Can you please use the `devel` branch? There is an important fix there.

[2020-12-07 20:54] aydinsaribudak commented on #516
Thank you @iparask
You mean the devel branch for ENTK, right? Or for both radical.entk and radical.pilot ?

[2020-12-07 20:58] andre-merzky commented on #243
I agree with Matteo.  I mean, we probably want to make sure that adding another RTS is still possible, but it is not highest priority right now.

IMHO distinguishing final states is a necessity.  If that is done via mapping into an RE state model or by having the RE state model expand the RTS/RP state model is really an implementation detail.  Mapping will be required once we add a second RTS, unt

[2020-12-07 21:57] mturilli commented on #515
@adw62 an update on this. We still don't know where the error comes from but we have now more resources allocate to this problem. We will be updating this ticket with what we find. We should be ready to set an 1-hour meeting to all work on this.

[2020-12-08 04:09] iparask commented on #517
Resolved

[2020-12-08 04:09] #517 closed

[2020-12-08 09:22] adw62 commented on #515
Thank you for the update. Please let me know if I can provide any examples or files that my help with this.

[2020-12-08 14:36] iparask commented on #516
I mean RP. Sorry, I thought this was on the RP repo

[2020-12-09 01:06] akashban commented on #501
Hi @iparask , @SrinivasMushnoori
I am getting the keyboard interrupt error when I try to launch my entk scripts. Any suggestions on how I could fix the above issue? The log files and a description of the issue are attached in this ticket.

Thank you.
Akash

[2020-12-09 02:03] mturilli commented on #515
@adw62 we think we might have found the problem. The issue seems to be related to the change in pip interface we mentioned before. That broke the deployment of our stack on Summit. Could you update your stack so to use the latest development branch of RADICAL-Pilot and let us know whether it works?

[2020-12-09 14:17] adw62 commented on #515
@mturilli I think this has fixed the issue, I can now run the hybrid pipeline. Thank you.

[2020-12-09 14:17] #515 closed

[2020-12-09 15:14] iparask commented on #487
There are no debug messages in the logs you attached. I want to verify what is happening to be on the safe side.

You are executing the script from a Linux system that has a passwordless ssh connection to `localhost`. You can test that by doing `ssh localhost`. Then you are running the `get_started` example with `local.localhost` (or `local.localhost_anaconda` if you have anaconda python as your d

[2020-12-09 17:57] iparask commented on #512
EnTK deletes the queues when it exits cleanly, but not every time it does not exit cleanly.

If EnTK exits, the user needs to define a new workflow with the failed tasks. We do not keep the state of finished workflows. In this case, new queues will be created and used.

Queues are not deleted when EnTK does not exit cleanly. I believe that exception chaining will trigger the terminate command on t

[2020-12-09 19:33] iparask commented on #313
I think it makes sense to use `ru.Munch` as @mtitov suggests. Let me try and create something for EnTK's task class and see how it works. I'll report as I move forward.

[2020-12-10 04:01] aydinsaribudak commented on #516
HI,
I update anaconda package and create a new conda environment, and free as much space as I can. Below are the details of the stack and error logs:

[code]

[session.tar.gz](https://github.com/radical-cybertools/radical.entk/files/5670168/session.tar.gz)
[session_sandbox.tar.gz](https://github.com/radical-cybertools/radical.entk/files/5670169/session_sandbox.tar.gz)

[2020-12-10 19:56] mtitov commented on #516
@aydinsaribudak please try a devel-branch for saga, in your logs there is the following error:
[code]
and it was fixed in devel

[2020-12-11 03:36] aydinsaribudak commented on #516
Hi,
Unfortunately the execution is not completed and the session folder is not created under sandbox.
Here is the radical stack and the new session folder:
[code]

[session.tar.gz](https://github.com/radical-cybertools/radical.entk/files/5676924/session.tar.gz)

[2020-12-11 18:22] mturilli opened #523 "EnTK deprecated warning is printed hundreds of times"
@iparask a user reported an unintended consequence of the API deprecation message: it prints hundreds of times. We should be sure we print that only once.

[2020-12-11 19:17] mturilli opened #524 "Documentation"
Here the notes of one of our user about getting EnTK, RCT and his application working on Cheyenne. We should review it and see whether we can derive elements/documents to add to EnTK documentation.

[2020-12-11 20:49] iparask commented on #524
@mturilli, where are the notes?

[2020-12-11 20:55] iparask commented on #523
That is how it was setup (see [here](https://github.com/radical-cybertools/radical.entk/blob/devel/src/radical/entk/task.py#L705)). Let me see why it is happening and fix it. I also need to fix the deprecation message.

It might make sense for the user to change to the new keys also:

[code]
and

[code]

The values remain the same

[2020-12-11 21:05] aydinsaribudak commented on #516
Hi,

get_started.py is worked on my env even though I didnt change anything on my env.
@AymenFJA also tested and it worked on his env as well. However, it fails again if I request gpu in addition to cpu.
Here is the radical-stack and res description:
[code]
[code]

[2020-12-11 21:10] mturilli commented on #524
Apologies, here they are: https://weiming-hu.github.io/EnTK-Cheyenne-Setup/

[2020-12-11 21:20] mtitov commented on #516
@aydinsaribudak what error it gives when you add gpus?

[2020-12-11 21:51] aydinsaribudak commented on #516
@mtitov

Here are the session folders:

[session.tar.gz](https://github.com/radical-cybertools/radical.entk/files/5681755/session.tar.gz)
[session_sandbox.tar.gz](https://github.com/radical-cybertools/radical.entk/files/5681756/session_sandbox.tar.gz)

Thanks

[2020-12-12 19:08] aydinsaribudak commented on #516
Hi all,

As Aymen suggested, I have updated the queue as "GPU-small" and make the number of GPUs 2. It worked. It is just taking longer time than usual. Many thanks to @AymenFJA and @mtitov for looking into the issue in detail.

As a future reference for everyone: To fix this issue, first we switch to devel branches. Then, update the queue information.
A possible reason for such an error `Requeste

[2020-12-12 19:08] #516 closed

[2020-12-14 15:46] #523 closed

[2020-12-15 15:11] #417 closed

[2020-12-15 15:44] akashban commented on #501
Hi @andre-merzky @lee212

Following up on the above thread.

[2020-12-15 15:48] lee212 commented on #501
@akashban , I will try to revisit this issue again, and get back to you by today.

[2020-12-15 16:32] iparask commented on #501
Hello @akashban, I have a couple of questions:

1. For how long are your tasks running for?
2. Do you mind rerun it with out setting the `RADICAL_LOG_TGT` variable? It will make sure that all log messages go to their respective log files.

[2020-12-15 17:01] akashban commented on #501
HI @iparask ,
1. With the latest ENTK stack, my test MD simulations run for around 5-7 minutes. I have made sure that the wall-time requested on stampede2 (remote resource) is much more than that.
2. Do you want me to run with or without the RADICAL_LOG_TGT variable? Currently, I am generating log files in the following manner:
export RADICAL_LOG_LVL=debug
export RADICAL_LOG_TGT=debug.log
RADICAL_

[2020-12-15 17:08] iparask commented on #501
Thank you, it seems that the pilot is actually running. It makes sense to ask for more time.

This places all messages in a single file. It makes it difficult sometimes to find out what the issue is.

I would also ask you not to redirect to `verbose.log` at all. Everything should go to log files, and you will only see the reporter messages, which are not needed.

[2020-12-15 17:20] akashban commented on #501
@iparask ,
So I will do the following:
1. Ask for a lot of time on the remote resource. Currently I am asking for 2 hours for a simulation that actually takes 5-7 minutes. So I am guessing I should ask for a day of wall-time for the 5-7 minutes simulation?
2. Run ENTK script in the following manner :
python example.py
radical-pilot-fetch-logfiles

Please let me know if this is correct.

[2020-12-15 17:29] iparask commented on #501
2 hours should be more than enough.

I would say do the following:
[code]

[2020-12-15 17:54] akashban commented on #501
@iparask
Currently, I am getting the error when I ask for 2 hours. So what I will do is: rerun the entk script with the above instructions you have provided. Will get back to you soon.

[2020-12-15 20:53] lee212 commented on #477
I can confirm that this only happens under EnTK, and pilot preserves directory structure. EnTK places everything into `staging_area`, which I don't find under pilot though. I will look into the code and get back with a possible solution.

[2020-12-15 21:19] ethzan commented on #487
Hi @iparask, as per your suggestion to setup Linux I've setup an Ubuntu virtualBox on my Mac. I am now running into a `Connection to 127.0.0.1:32769 failed: [Error 111] Connection refused` error. Do you know how to resolve this? I've also tried ports 5672 and 32777. I've confirmed that Rabbitmq is setup properly with docker.

[2020-12-15 21:25] lee212 commented on #476
pip warning would be a good example like:
[code]

from https://github.com/pypa/pip/blob/master/src/pip/_internal/self_outdated_check.py

[2020-12-15 21:49] lee212 commented on #444
For the testing purpose of the executables, dryrun would be useful to catch failures like syntax error and incorrect parameters, and the `local.localhost` seems like serving the purpose without allocating real resources. I would revisit this again later but for now, `local.localhost` would be sufficient, what do you think?

[2020-12-15 23:09] lee212 commented on #439
#483 was the first attempt to resolve this delay, (reducing the avg. delay to 5 from 10 secs) and there is more. It seems that `db_poll_sleeptime: 2.0` from radical.pilot is related to this but I have to collect some data to clarify.

[2020-12-16 17:42] andre-merzky commented on #444
Isn't the purpose of the Mock excutor in `src/radical/entk/execman/mock` to provide that capability?

[2020-12-17 14:19] iparask commented on #487
What is supposed to run connect at port 32769? Is that RMQ? Everything else seems okay. Can you SSH to localhost without a password?

[2020-12-22 23:44] ethzan commented on #487
@iparask Yes, RMQ. And yes, I set up SSH to localhost as well. Is there a way to confirm that RMQ is setup properly? I successfully ran `sudo docker run -d --name <rmq_name> -P rabbitmq:3` but just to confirm.

[2020-12-23 02:19] aydinsaribudak opened #528 "gromacs MD simulation with cpu thread type OpenMP is failed"
Hi, I am running a plumed patched gromacs simulation on Bridges.
My cpu/gpu request for each task is as follows:

[code]

and the radical-stack is:

[code]
I got this error: `task_manager.0000 failed`.  Could you please help? (Session files are attached)

P.S. If I update cpu 'thread_type' from 'OpenMP' to None, the error I received is:
[code]
I can provide log files for this one as well if it is

[2020-12-23 18:20] ethzan commented on #487
Working now! Synced with Srinivas, setup ssh to localhost without password, and moving to Ubuntu solved it. Thanks for your help @iparask!

[2020-12-23 18:20] #487 closed

[2020-12-23 22:39] iparask commented on #528
Does this error originate from Gromacs? Does EnTK succeed in launching the task on Bridges?

[2020-12-23 23:08] aydinsaribudak commented on #528
Hi @iparask
My manual run (without ENTK) for gromacs simulation was successful on Bridges.
A sample ENTK script was completed successfully as well (under the same resource configuration).
In this case, the `task cpu/gpu requests` may be the root cause of the error.
Because `task cpu/gpu requests` is one of the differences between gromacs simulation script and a sample Entk script.  The other diffe

[2020-12-23 23:19] aydinsaribudak commented on #528
@iparask
I gave another try several hours ago after updating the res config to set the number of cpus to 4. It has just finished.
I see that one of the unit was completed successfully. (I have two concurrent units ). For the other unit I got this error: `Could not detect shell prompt (timeout)`
I will make another run and update the ticket as soon as it will be finished.
Thanks.

[2020-12-24 06:51] aydinsaribudak commented on #528
@iparask
The simulation has worked with an update in resource configuration. I basically increased the number of CPUs.
I am closing the issue. Thank you for your comments.

[2020-12-24 06:51] #528 closed

[2020-12-24 17:14] iparask commented on #392
I suggest excluding any special character from the pipeline, stage, and task names, apart from `.`.

[2020-12-29 16:23] mturilli commented on #392
I would agree but then I think we should check for naming before execution and raise an error if a name uses illegal characters.

[2021-01-04 18:02] iparask commented on #476
Alright! Does it make sense to include from Jan 2021 release onwards or update all previous releases as well?

[2021-01-04 18:45] andre-merzky commented on #476
We actually had this implemented with a `-v` flag on `radical-stack` which checked pypi for the latest available version.  Alas, the pypi interface we used for this became deprecated, and thus a recent PR (radical-cybertools/radical.utils/pull/276) removes that support again until we find a different way to query that information (in a timely and simple fashion).

[2021-01-04 20:46] iparask commented on #410
I made the change suggested by @andre-merzky and remove a `sleep(3)` in the wfprocessor, but I could not reproduce the issue. @lee212, do you have any logs I can look at?

[2021-01-04 21:13] iparask commented on #428
@iparask: Check what callbacks are registered from the session to TMGR and PMGR that are needed for the execution of a workload.

[2021-01-05 17:46] iparask commented on #428
@andre-merzky, I read the code from both the unit manager and pilot manager. The callbacks, I found that both unit and pilot manager use information from the session, have to do with communicating with the database ([here](https://github.com/radical-cybertools/radical.pilot/blob/devel/src/radical/pilot/unit_manager.py#L155-L164) and [here](https://github.com/radical-cybertools/radical.pilot/blob/d

[2021-01-05 18:23] andre-merzky commented on #428
Both UMGR and PMGR own a `rp.utils.ComponentManager` instance, and the constructor to that instance will subscribe to the `heartbeat` channel ([here](https://github.com/radical-cybertools/radical.pilot/blob/devel/src/radical/pilot/utils/component.py#L72).  Also, both later register timed callbacks and subscribe to other channels ([here](https://github.com/radical-cybertools/radical.pilot/blob/deve

[2021-01-05 18:46] iparask commented on #428
I am not sure if it relevant but I see the following warning as well:

[code]

[2021-01-05 19:32] andre-merzky commented on #428
That's likely unrelated, but also an indication of the fork having the potential to wreak havoc.

[2021-01-05 20:49] iparask commented on #452
I think that the exception chaining resolves these issues:

1.
[code]

I checked the other two that you mention, but it depends also on the messages and exceptions we receive from RP.

[2021-01-05 21:33] iparask commented on #477
EnTK passes shared data through the pilot description [here](https://github.com/radical-cybertools/radical.entk/blob/devel/src/radical/entk/execman/rp/resource_manager.py#L160). However when I tried something like `appman.shared_data = ["test_shared/hello.txt > foo/hello.txt"] RP failed with the following message:

[code]

I think we need to document this correctly for users to know what to do and

[2021-01-05 21:36] iparask commented on #327
I think this is already done. @andre-merzky can you verify? See [here](https://github.com/radical-cybertools/radical.entk/blob/devel/src/radical/entk/execman/base/task_manager.py#L305-L333).

[2021-01-05 22:00] andre-merzky commented on #327
Yes, agree, this is done.

[2021-01-05 22:00] #327 closed

[2021-01-05 22:13] iparask commented on #410
I do not think this is an issue anymore as I am able to run thousands of tasks. Also, ICEBERG use cases have several thousands of pipelines and never faced this issue. I'm closing.

[2021-01-05 22:13] #410 closed

[2021-01-06 09:18] andre-merzky commented on #429
@iparask : can you please give the RP branch `hotfix/tags` a try?  I should address this problem for the time being.

[2021-01-08 17:54] mturilli commented on #509
@iparask do we know how we want to solve this beyond the initial workaround? Is there anything to discuss before you work at the PR?

[2021-01-08 18:10] lee212 commented on #509
FYI,

I experienced similar error:
[code]

this was a large run asking 6120 concurrent tasks

[2021-01-11 15:17] #392 closed

[2021-01-11 15:22] iparask opened #532 "Template exceptions"
We may want to template exceptions that are used numerous times as they are, for example the naming exception of tasks, stages and pipelines.

[2021-01-11 15:31] andre-merzky commented on #532
I would like to add that, if there are many places which throw the same exceptions with the same messages, we may want to check if the *code* is not repeated.  The RE type check are a good example: they should be a method provided by RU, and not be written out by every single attribute setter (see #313)

[2021-01-11 21:39] iparask commented on #439
Closing as we cannot currently optimize any further at the moment.

[2021-01-11 21:39] #439 closed

[2021-01-12 16:48] iparask commented on #452
ping @lee212, @andre-merzky

[2021-01-12 16:54] iparask commented on #243
moved in discussions

[2021-01-12 16:54] #243 closed

[2021-01-12 16:59] andre-merzky commented on #452
I think this should be translated by RE.  The error presumably comes from the RP adaptor within the RE resource manager, is thencommunicated to the app manager which forwards to the application - there is not much RP can tell about that chain of events.  From RP perspective, the specified pilot resource on the `pmgr.submit()` call is not known - but we can't say how and why that resource was speci

[2021-01-12 17:17] iparask commented on #331
Based on my understanding, there are no performance benefits from updating to pika 1.1.0, apart from API changes. I suggest avoiding changing the pika version until at least pika 1.2.0.

Pika 0.13 was released on February '19 and 1.1.0 on July '19. There is a `1.2.0` milestone in pika github, but it is open from July '19, and it goes very slow. I do not think it will be updated significantly any t

[2021-01-12 17:17] iparask commented on #356
This can be closed. Testing however should continue moving forward

[2021-01-12 17:17] #356 closed

[2021-01-12 17:50] iparask commented on #359
Do you mean once per workflow or task?

If I understand correctly, there is a perl script, which can be executed as an EnTK task, that downloads the data and then a second task creates a python subprocess call?

We do not currently support data staging at stages or pipelines, neither pre_exec. Are these data shared between tasks in a stage or for the whole pipeline?

In case there is an internet c

[2021-01-12 18:20] andre-merzky commented on #359
@ip: sorry for the belated followup - that specific problem for Lucas got solved: he added a pre_exec to the task which triggered a data staging command on the login node.  We missed to close this ticket :-/

[2021-01-12 18:20] #359 closed

[2021-01-12 18:40] mturilli commented on #331
Thanks!

[2021-01-12 18:40] #331 closed

[2021-01-12 18:52] mturilli commented on #512
I am not sure I understand correctly your answer. If you confirm that queues are not deleted only in presence of some type of failure, then I guess we could close the ticket?

[2021-01-13 16:23] iparask commented on #429
The `hotfix/tags` branch works! Thank you! Also, the tags PR is open again!

[2021-01-13 17:15] #476 closed

[2021-01-19 16:01] iparask commented on #512
I am not sure if it deletes everything, even with correct termination. I need to check. I also think that in case of failure, where terminate is called queues should be deleted.

Do you think they should remain on the server?

[2021-01-19 17:10] akashban commented on #501
I am able to run my ENTK script successfully.

[2021-01-19 17:10] #501 closed

[2021-01-19 18:59] mturilli commented on #512
I agree, I think they should be deleted as much as possible.

[2021-01-21 17:40] iparask commented on #509
I found the reason. If the channel stays idle for enough time the connection is dropped by RMQ. This is also discussed [here](https://pika.readthedocs.io/en/stable/examples/heartbeat_and_blocked_timeouts.html). I created a producer and a worker. The producer sleep for x seconds and then sends a message. The worker just prints the message.

Producer:
[code]

worker:
[code]

This is the output I got

[2021-01-21 22:23] mturilli commented on #509
Thanks Giannis, great job! Would solution 3 be as safe as 2 but without the potential performance issue?

[2021-01-25 14:46] igory1999 opened #537 "requesting CPU cores for python multiprocessing package"
I am trying to use python multiprocessing package.

Inside the program, I have a pool that is created and destroyed in a loop:

[code]

When requesting resources from ENTK, I do the following:
[code]
Running top on the compute node, shows that 40 processes are executed on my smaller number of CPU cores, probably 1.
(Is there a way to add an attachment with a screenshot? At first glance I do not se

[2021-01-25 16:27] iparask commented on #537
Hello @igory1999, since you are creating processes and not threads, I would suggest you request 40 processes with one thread per process.

[2021-01-25 21:29] iparask commented on #509
Update: The whole connection closes.

I changed the producer to handle the specific exception.

[code]

and the output looks like (channel status is `True` when the channel is open):
[code]

I'll apply the change where we have a publish and open a PR.

[2021-01-28 14:49] euhruska opened #540 "individual non-blocking tasks"
Feature request for entk to enable adding individual non-blocking tasks.

Two proposed new function calls (to be discussed):
1) appman.run_non_blocking()
Description: Starts an Application manager with an pipeline. Pipeline might contain only an empty stage. Keep running even if no tasks are left to be run until walltime runs out. This call has to be non-blocking.

2) appman.run_task_nonblocking(t

[2021-01-28 15:10] andre-merzky commented on #540
Hi Eugene - can you please describe the use case you are trying to address / problem you are trying to solve?  Thanks, Andre.

[2021-01-28 15:46] euhruska commented on #540
This feature tries to solve the challenge how to implement as simply as possible the complex dependencies what tasks to submit next. Non-blocking tasks would allow the user to implement almost arbitrary logic between the non-blocking calls. I consider the post_exec call, which requires the definition of the dependencies much earlier, while previous tasks are submitted, in some situations restricti

[2021-01-28 16:13] iparask commented on #540
@andre-merzky, we had a discussion with Eugene about this yesterday. I'll open a discussion and put Eugene's input there as well as my notes. How does that sound?

[2021-01-28 16:22] andre-merzky commented on #540
Thanks @iparask , sounds good to me.

[2021-01-29 22:47] akashban opened #541 "Sandbox is not created on the remote resource"
Hello @andre-merzky @lee212

My ENTK script works on my local machine, but when I try to launch it on the remote resource, I get the following error (located in the main log file):

##############################
1611956551.259 : radical.saga.cpi     : 479   : 139763954788096 : ERROR    : DoesNotExist: file copy failed: '/home/abanerjee/ve-entk/lib/python3.7/site-packages/radical/pilot/agent/boots

[2021-01-29 22:56] andre-merzky commented on #541
Hi @akashban : I apologize for this problem - we also realized today that the last release introduced an error for remote submission.  That is fixed by now in this PR: radical-cybertools/radical.pilot/pull/2311 (one layer under radical.entk), and we'll push that out right after code review.  If you don't want to wait, you could install the ` hotfix/stage_bs_0` branch of radical.pilot (the above PR

[2021-01-29 23:01] akashban commented on #541
Hi @andre-merzky , Thank you for your quick response. I am actually getting the issue with an older version which @lee212 told me to try, i.e. 1.5.1

This is my radical-stack:

  python               : /home/abanerjee/ve-entk/bin/python3
  pythonpath           :
  version              : 3.7.2
  virtualenv           : /home/abanerjee/ve-entk

  radical.entk         : 1.5.1
  radical.gtod         :

[2021-01-29 23:09] andre-merzky commented on #541
Oh, then we may have introduced earlier than I thought... :-/  Thanks for giving the branch a try, let us know how it goes!

[2021-01-29 23:27] akashban commented on #541
@andre-merzky , I updated my radical-stack to:

  python               : /home/abanerjee/ve-entk/bin/python3
  pythonpath           :
  version              : 3.7.2
  virtualenv           : /home/abanerjee/ve-entk

  radical.entk         : 1.5.1
  radical.gtod         : 1.5.0
  radical.pilot        : 1.5.11-v1.5.11-66-g75a73a6@hotfix-stage_bs_0
  radical.saga         : 1.5.9
  radical.utils

[2021-01-29 23:54] andre-merzky commented on #541
@akashban : the bootstrapper does not report any problems while preparing the pilot environment - but that fails then anyway :-/  Can you please check on Stampede2 if `/work/04676/tg839752/stampede2/radical.pilot.sandbox/re.session.abanerjee-OptiPlex-990.abanerjee.018656.0030/pilot.0000/rp_install/bin/radical-pilot-bridge` exists and if it can be executed?  It will fail if you just execute it manu

[2021-01-30 00:17] akashban commented on #541
@andre-merzky , yes radical-pilot-bridge exists in the given folder and it is an executable (that is failing when I try to execute manually)

If you dont mind, for future diagnosis, I want to learn what details you looked for in the log files that suggested eventual failure in preparing the pilot environment. I am not able to connect the dots between the keyboard interrupt error and creation of pi

[2021-02-01 15:12] #509 closed

[2021-02-03 15:37] iparask commented on #540
Moved everything to discussion #542. @euhruska your input there will be useful.

I will close this issue in favor of the discussion

[2021-02-03 15:37] #540 closed

[2021-02-03 15:48] Weiming-Hu opened #543 "Profiling EnTK workflow with online example script leads to parsing errors"
### Problem Description

I'm trying to profile my EnTK workflow. I exactly followed the [online example script](https://radicalentk.readthedocs.io/en/stable/user_guide/profiling.html). When I run the script, I received the following error:

[code]

### Setup

My EnTK stack is as follows:

[code]

Thank you!

[2021-02-03 15:53] andre-merzky commented on #543
Apologies for the troubles - that problem has been fixed in radical.pilot, and the [fix](https://github.com/radical-cybertools/radical.pilot/commit/75a73a6bad04ea89ae39beae60927eb6c220c367) was released just yesterday.

[2021-02-03 16:06] Weiming-Hu commented on #543
Thanks for the heads. I upgrade my radical.pilot, and now my stack looks like this:

[code]

I still received an error though. Please see below.

[code]

[2021-02-03 16:13] andre-merzky commented on #543
Thanks for reporting - that looks like an error in radical.analytics - we'll check it out.

[2021-02-03 16:52] iparask commented on #537
Hello @igory1999, is this still an issue?

[2021-02-03 17:48] igory1999 commented on #537
Yes.
In simple standalone program multiprocessing works fine in combination with
entk, but in the real program it seems to be running on a single or too
small number of cores.
I'll try to isolate the problem.  Currently I don't have a small
reproducible example.

On Wed, Feb 3, 2021, 10:52 AM Ioannis Paraskevakos <notifications@github.com>
wrote:

[2021-02-04 19:28] akashban commented on #541
Hi @andre-merzky , Just wanted to follow up regarding the sandbox issue.

Thanks
Akash

[2021-02-05 09:22] andre-merzky commented on #541
Hi @akashban - sorry for the late reply!

I follow the pilot startup sequence.  First the bootstrapper shell script is started and produces output in `bootstrap_0.out` - that might be a bit tedious to parse as it is rather verbose, but errors should stick out.

The bootstrapper starts the agent(s), so check `agent.0.out  agent.0.err agent.1.out agent.1.err ...` (the number of agents depends on the

[2021-02-05 09:40] andre-merzky commented on #541
I just realized that the above does not help you with your actual problem, you are still stuck, right?  @mtitov : Mikhael, do you have access to Stampede2?  If so, would you mind having a look at what's up there?

[2021-02-05 23:07] akashban commented on #541
@andre-merzky @mtitov , I just had a look. I am still getting the same problem. Please let me know if I can help.

[2021-02-05 23:11] andre-merzky commented on #543
@Weiming-Hu : a fix for your last problem was merged in radical-cybertools/radical.analytics/pull/137, you may want to retry with the `devel` branch of RA.  Thanks!

[2021-02-06 03:44] mtitov commented on #541
Hi @akashban, I see in logs something strange with pip installation of RP on remote machine
[code]
can I ask to try the latest release of RP (that includes this branch as well) 1.5.12, and I will make tests on Stampede2 as well

[2021-02-08 17:38] akashban commented on #541
Hi, @mtitov @andre-merzky , The issue has been resolved with the latest release of RP. Thank you so much for pointing towards it. My scripts are working on the development queue of stampede2. Currently, I have launched it on the normal queue, with a wall time of 2 days. So, it would be great if we could keep this ticket open until the entk script successfully terminates.

@andre-merzky : Thank you

[2021-02-09 18:34] #429 closed

[2021-02-09 18:34] #482 closed

[2021-02-10 15:08] akashban commented on #541
Hi @andre-merzky , The job performed well on stampede2 for 2 days (maximum allowed wall time). Thank you for your and @mtitov help.
As you mentioned in your previous comment, on previous occasions, my jobs have been terminated before the 24 hour mark.
So, when and if it happens again, what should I do to fix the issue?

[2021-02-10 15:21] andre-merzky commented on #541
Thanks for the ping-back!

It depends on what exactly caused the termination: it can be the cluster network capping the connection, or the MongoDB server which is used in the background, or some process cleanup on the login nodes.  And in many cases we can't do much about it :-(
Since we thus think that avoiding interruption is not really possible in all cases anyway, we plan to become resilient a

[2021-02-11 14:30] akashban commented on #541
Thank you for the detailed explanation of the connection issue. These tickets are really helpful in understanding the architecture of ENTK. The strategy to reconnect an interrupted session sounds interesting!

I sincerely appreciate your time! Thanks @andre-merzky

[2021-02-11 14:30] #541 closed

[2021-02-15 15:24] akashban opened #551 "Follow up on Stampede2 terminating connection after 24 hours"
Hi @andre-merzky @lee212

Just wanted to follow up with you regarding the network connection issue. I was running 2 entk scripts which aimed at launching simulation workflows on stampede2 over the weekend. Both were terminated when they crossed 24 hours (asked for 48 hours of wall time). I just wanted to show you the error message and make sure that the issue is caused by stampede2 and not somethi

[2021-02-16 23:27] andre-merzky commented on #551
Hey @akashban : I am glad you are asking, but that looks like a somewhat different issue:
[code]
This seems to be a connection between compute nodes, and likely affected the task startup.  I assume you are using `xsede.stampede2_ssh` as resource label?  I would like to ask you to switch to `xsede.stampede2_mirun` or `xsede.stampede2_mirun`, depending if you application likes mpirun or ibrun more (

[2021-02-17 14:42] akashban commented on #551
Hi @andre-merzky , yes, I am using xsede.stampede2_ssh. Is there a typo in the above comment? Did you mean xsede.stampede2_mpirun or xsede.stampede2_ibrun?
Is there a document with all the available resource labels?

[2021-02-17 15:13] andre-merzky commented on #551
Oh, apologies, I did.

Documentation on those labels is vague, mostly because the labels and configurations we use for different workloads and projects vary widely and often.  The current configurations for XSEDE (including `stampede2`) are listed [here](https://github.com/radical-cybertools/radical.pilot/blob/devel/src/radical/pilot/configs/resource_xsede.json), but, as said, they may change from

[2021-02-17 15:46] akashban commented on #551
Thanks for sharing the documentation on resource labels. I will check in with you before I use a new resource tag in future entk versions. Xsede.stampede2_ibrun is working fine on the development partition of Stampede2. I will keep you posted regarding the performance on the normal partition (will take 2 days to finish).

[2021-02-17 19:47] iparask opened #556 "poll testing"
/polls Option1 'Option2' 'Option3'

[2021-02-17 19:49] #556 closed

[2021-02-23 22:58] iparask commented on #512
I checked this in every angle I could and I cannot replicate the behavior from before. I'm closing this issue.

[2021-02-23 22:58] #512 closed

[2021-02-23 23:01] #452 closed

[2021-03-04 18:17] akashban commented on #551
Hi @andre-merzky ,
It took me some time to get results from stampede2 (power outage in texas). I am using the xsede.stampede2_ibrun resource tag, and I am still getting the same error after around 24 hours:

Connection to c429-051 closed by remote host.^M
[mpiexec@c407-064.stampede2.tacc.utexas.edu] control_cb (../../pm/pmiserv/pmiserv_cb.c:864): connection to proxy 3 at host c429-051 failed
[mpie

[2021-03-05 18:09] andre-merzky opened #559 "`argument` should complain early on `int` type elements"
See https://github.com/radical-collaboration/hpc-workflows/issues/131

This should trivially be fixed once the RE task description is rebased to `ru.Description`.

[2021-03-19 17:08] #543 closed

[2021-03-23 13:33] akashban commented on #551
Hi @andre-merzky , Just wanted to follow up on the above. I am still getting the same error when I try to run on stampede2. I just wanted to check if stampede is terminating my connection, or is there something I am doing wrong.

[2021-03-23 19:01] shantenujha commented on #551
@andre-merzky @iparask -- gentle ping to try to unstuck this as its stalling science progress.

[2021-03-23 20:53] andre-merzky commented on #551
Sorry @akashban : this fell off the table.

But also, this is not good news: I am afraid that we are currently not able to avoid that connection error,  The failure happens on a level below our own code, and we don't have the ability to change the behavior of that layer.

@shantenujha : This is the launcher (ibrun, and underneath mpiexec) failing.  Any suggestion on how to proceed?  Do we have som

[2021-03-24 03:35] lee212 opened #561 "Task executable inherits EnTK's PYTHONPATH"
On LLNL Lassen, I experienced odd behavior of python executable from importing numpy. There are two separate conda environments, conda-rct for EnTK, and conda-keras-powerai for task executable, and the error indicates that task executable inherits EnTK's PYTHONPATH to search packages:

[code]

You can find that the task executable `/p/gpfs1/envs/conda-keras-powerai/bin/python` is python3.6 but num

[2021-03-24 05:22] andre-merzky commented on #561
Is `/p/gpfs1/envs/conda-rct/` the env the pilot uses?

This issue is addressed  with the 'environment isolation' we have been discussing on the devel call, which is scheduled for release fairly soon.  Will you be able to live with the workaround for some weeks, or do you need a solution for the multi-environment case until then?

[2021-03-24 15:11] lee212 commented on #561
Yes, that is the env that RP uses, and this issue can wait until the next release with 'environment isolation'. I wanted that this issue is noted for future reference.

[2021-03-30 20:15] andre-merzky commented on #551
@shantenujha, @akashban: any suggestion on how to proceed?

[2021-03-30 20:17] iparask commented on #537
Hello @igory1999, I'm going to close this. Please feel free to reopen it when you have a reproducible example

[2021-03-30 20:17] #537 closed

[2021-03-30 20:19] #532 closed

[2021-03-30 20:25] iparask commented on #524
@iparask go through the text and get the usable parts

[2021-03-30 20:29] #444 closed

[2021-03-30 20:31] iparask commented on #382
Hello @hengma1001, is this still an issue for you? Thank you

[2021-03-30 21:00] akashban commented on #551
Hi @andre-merzky , I am currently using the normal partition on stampede2 to launch my jobs. They are typically on the queue for 15-20 hours, and are kicked out after around 10 hours of simulation. I have just developed a method to take the restart files (simulation in its final state when it got kicked out), and launch it again using the ENTK script. I repeat the process until I get the desirable

[2021-03-30 21:22] andre-merzky commented on #551
Thanks for the reply!  I can't think of a better way right now, really.  Is there a way to trade, say, `x` long running simulations against `x/2` simulations which run half as long?

[2021-03-31 19:33] akashban commented on #551
Yes, I could do that. In my MD simulations, I could vary the total number of MD steps (reduce it to half), or the timestep (double it). Both strategies either leads to simulation failure, or not being able to visualize the scientific properties of interest. The reason why my workflow needs to run over 2 days is that my systems are really big. Hence, in order too observe interesting scientific phen

[2021-03-31 19:41] andre-merzky commented on #551
degradation of science results is obviously not an acceptable tradeoff :-P  We'll discuss this in our group and will   try to come up with a solution - but I am not sure if and how quick we can resolve this...

A couple of questions, if I may:
  - what client machine do you use to submit your script?
  - can you in principle use the stampede2 login node for submission?
  - after the long running t

[2021-03-31 20:10] drawadiagram opened #562 "Addressing stdout and stderr on failed radical pilot tasks"
BACKGROUND
I want to address the task stdout and stderr files resulting from a failed rp.entk task using a stage.post_exec script or similar. I will use the stderr information for control flow in a PACE application we are developing based on entk. The idea is to flag candidate MD parameterizations that result in an error, associate them with their error type, modify the candidate pool accordingly,

[2021-03-31 20:21] andre-merzky commented on #562
Hi @drawadiagram - the lack of output staging has been a complaint by several users already - I think we should provide that capability - I'll take this as a feature request.

[2021-03-31 20:47] andre-merzky commented on #562
This is now addressed in the `fix/re_issue_562` branch in RP.  @iparask : would you mind making the `stage_on_error` flag available in the RE task description?

[2021-03-31 21:47] iparask commented on #562
Yes, I will do it.

[2021-03-31 21:51] akashban commented on #551
1. I am using my desktop in my lab (ubuntu 16). I use a tmux terminal and launch the entk script from there.
2. Yes, I can use the login node to submit jobs (by launching a slurm script)
3. Yes, my workflow does: long simulation -> analysis -> long simulation -> analysis -> and so on.

Please let me know if you have any more questions. I could share some more specifics if required.

[2021-04-01 20:51] iparask commented on #562
This is addressed now in the `devel` branch.

[2021-04-02 17:21] akashban opened #564 "How to change default folder in remote resource (stampede2)"
HI @andre-merzky and @lee212 ,

The sandbox in stampede2 is created in the work folder. Stampede2 is transitioning over to work2. Could you please point me towards a reference where I can change the default directory in the resource_dict ?

Thank you for your help.
Akash

[2021-04-02 17:34] andre-merzky commented on #564
[This](https://github.com/radical-cybertools/radical.pilot/blob/devel/src/radical/pilot/configs/resource_xsede.json#L34) would be the place you want to change (and similar for the other `stampede2` entries in the same file).  I you are up to it, do you want to do the change and submit a pull request?  No worries if not, then we'll get this done.

[2021-04-02 18:30] akashban commented on #564
Thank you @andre-merzky . To be honest, I am still getting familiar with collaborating on GitHub. Would it be possible to assign someone else? I promise I would be able to help you more in the upcoming year :)

[2021-04-02 18:43] andre-merzky commented on #564
I am glad you are speaking up!  :-)

[2021-04-02 18:58] iparask commented on #524
I went through the blog post. It has a nice description, from a user perspective, of what EnTK does. Also, I found the Debugging section nicely written. Also I think that the two problems described there can be considered as examples. I think that the second problem described can be part of the official documentation, as it describes a problem that occurs after multiple ctrl+c.

[2021-04-02 19:57] iparask commented on #564
There is a branch in RP named `fix/stampede2_fs` that uses work2 as the default filesystem. @akashban, thank you for letting us know!

[2021-04-02 20:47] andre-merzky commented on #564
This is now fixed in radical.pilot's `devel` branch (see radical-cybertools/radical.pilot/pull/2365 - thanks @iparask!).  This will be released in about 10 days. @akashban: if you need the change before then, please switch to that `devel` branch until then.

[2021-04-02 20:51] akashban commented on #564
Thank you so much for your help @andre-merzky and @iparask

[2021-04-03 01:54] hengma1001 commented on #382
@iparask I haven't been using summit for a while. But I think we can close it.

[2021-04-05 13:38] #564 closed

[2021-04-09 21:12] iparask commented on #212
PR #538 is merged this can close

[2021-04-09 21:12] #212 closed

[2021-04-09 21:13] iparask commented on #255
This can be closed as well. See PR #560

[2021-04-09 21:13] #255 closed

[2021-04-14 14:17] iparask commented on #562
I'm closing this issue as it will be addressed with the next release. Thank you

[2021-04-14 14:17] #562 closed

[2021-04-21 02:05] ethzan opened #574 "Key tag not in schema"
When attempting to run a script using radical.entk:

`Traceback (most recent call last):
  File "/home/ethan/venvs/radical_env/lib/python3.8/site-packages/radical/entk/execman/rp/task_manager.py", line 336, in _process_tasks
    rp_tmgr.submit_tasks(bulk_tds)
  File "/home/ethan/venvs/radical_env/lib/python3.8/site-packages/radical/pilot/task_manager.py", line 841, in submit_tasks
    task = Task(

[2021-04-21 02:45] mtitov commented on #574
hi @ethzan, can you please provide more information on what you are trying to run? This error shows that some provided data had wrong keys (which don't match `TaskDescription`'s schema)

[2021-04-21 03:56] ethzan commented on #574
Hi @mtitov, I am trying to run an example for PACE, the ENTK application that Srinivas and I have been collaborating on.

Do you have any insight on where to check for misuse of the radical.entk API to resolve this error? Thanks.

[2021-04-21 04:05] SrinivasMushnoori commented on #574
@ethzan I think it would be more helpful if we post the task description and/or link to the appropriate part of the PACE code?

[2021-04-21 04:19] ethzan commented on #574
We have 3 different stages with unique task descriptions:

**Stage 1**
`basename = self.candidate_specifications['basename']
        sysname = basename + "." + str(self.cid)
        c_head = [basename + "/" + sysname + "/" + basename + ".gro",
                  basename + "/" + sysname + "/" + basename + ".itp",
                  basename + "/" + sysname + "/" + basename + ".mdp",

[2021-04-21 04:26] ethzan commented on #574
We have 3 different stages with different task descriptions:
**Stage 1**
[code]

**Stage 2**
[code]

**Stage 3**
[code]

[2021-04-21 07:29] andre-merzky commented on #574
`Key tag not in schema`: We recently changed the task description *underneath* radical.entk (which is used by repex).  EnTK was changed to account for that change.  You probably need to update EnTK to make sure that the mapping is correct again. Can you give that a try, please?  If the same problem persists, please send us the output of `radical-stack`.

[2021-05-15 17:57] lee212 opened #577 "Supporting virtual host and SSL in pika"
With virtual host, a single RabbitMQ server can provide multiple user-space separate from others. Our use case from LLNL Lassen requires defining a specific virtual host as their RMQ is a multi-tenant system. To allow choosing vhost name under EnTK, the extra information defined by a user need to be forwarded to pika. For example, with the extra variable e.g., `RMQ_VHOST=/deepdrive`, pika sets con

[2021-05-19 02:27] drawadiagram opened #578 "Example eop.py fails with apparent MongoClient fork error"
I am attempting to run the eop.py example on a fresh entk install in a virtual environment. All tasks seem to schedule and then fail. The session closes correctly. I am testing this in a fresh environment because this no longer works in the environment I was using with some success a month ago. For this test I am using RMQ on localhost, and MongoDB mongodb://scm177:[password]@129.114.17.185:27017/

[2021-05-19 02:30] drawadiagram opened #579 "RMQ Radical Account Error"
When attempting to use my Radical account for RMQ server, I receive the following error:

Matteo reset my password last week, so I am confident I am using the correct password. Seems like this might be a permissioning issue? Found this on SO:
https://stackoverflow.com/questions/26811924/spring-amqp-rabbitmq-3-3-5-access-refused-login-was-refused-using-authentica

[2021-05-19 02:33] drawadiagram opened #580 "MongoDB Radical Account Error"
Attempting to run entk using my MongoDB server Radical account, I get the following error
[code]

, where `[password]` above is the string literal of my password. Please advise.

[2021-06-01 11:05] nsanjrani commented on #580
Hello, I'm also experiencing the same problem although I think this is an issue with radical pilot

[2021-06-01 17:30] akashban commented on #580
Hi @andre-merzky and @lee212 , I am experiencing the same issue:
EnTK session: re.session.abanerjee-OptiPlex-990.abanerjee.018779.0000
Creating AppManagerSetting up RabbitMQ system                                 ok
                                                                              ok
Validating and assigning resource manager                                     ok
Setting up RabbitMQ sy

[2021-06-01 17:49] andre-merzky commented on #580
Hi @akashban, @nsanjrani, @drawadiagram - sorry for the delayed response!

@lee212, @mturilli: do you happen to know what's up with `129.114.17.185`  - is that supposed to be open for projects to use or do we need to create accounts for it?

[2021-06-01 20:42] mturilli commented on #580
Upon investigation, I found there was an issue with a spurious lock file in MongoDB. I fixed it and restarted the service. Could you try and see whether that fixed the issue?

[2021-06-01 20:44] mturilli commented on #579
Hi @drawadiagram, there might have been an issue with the SSL certificate of RabbitMQ. I updated the certificate and restarted the server. Could you try and see whether that has solved your issue?

[2021-06-01 21:03] nsanjrani commented on #580
Working now, thanks!

[2021-06-02 01:53] drawadiagram commented on #579
Hi @mturilli,
I just tried again, but still see the same error. Here is the full output:

[2021-06-03 13:29] akashban commented on #580
Mine is also working. Thank you for your help.

[2021-06-08 19:43] #580 closed

[2021-06-08 19:45] mturilli commented on #578
@drawadiagram can you confirm this now works so that we can close this ticket?

[2021-06-09 17:07] drawadiagram commented on #579
I don't think anyone responded to my most recent post above? Also I have not had a chance to check my MDB error since the RMQ error is getting in my way, so I can't really say if that one is resolved for me either. @mturilli

[2021-06-15 17:05] akashban opened #581 "Data Movement issue"
Hi @andre-merzky and @lee212 ,

I am facing a general data movement issue between ENTK stages. I replicated the issue with one of the examples in the radical.entk repo: poe.py.
I have attached the log files here.

I believe the copy_input_data feature is not working: hence data staging in any of the stages/tasks is not happening. If you see the sandbox_remote folder, you will notice that only the

[2021-06-16 00:17] drawadiagram commented on #578
@mturilli I am still having trouble with the RMQ ticket, which errors out my authentication before I can get to this one. Previously I was able to use a local RMQ instance to bridge, but that is no longer available on my local system. Please advise.

[2021-06-16 23:08] euhruska opened #582 "log path unexpected"
importing radical.entk on Summit jupyter notebook fails with permission denied:
[code]
I think it should not need a log file path with extra permissions..
[code]
conda list gives:``` radical-entk              1.6.5                    pypi_0  ```
Reverting to entk 1.6.0 fixes this issue.

[2021-06-21 21:33] mturilli commented on #579
The RMQ service was down when you posted your comment. I restarted it and it is now up and running, apparently without issues. Other users do not report the same issue so let's focus on your code/credentials. Can I have a small script to replicate the problem? You can send me your credentials privately and I will try to debug the issue.

[2021-06-21 21:56] akashban commented on #581
Hi @andre-merzky and @lee212 ,

Just wanted to follow up on the above. Thanks

[2021-06-21 22:00] andre-merzky commented on #581
Hi @akashban - thanks for the ping, and apologies for the delayed response!  We'll discuss this on our next call and will come back with a time estimate for a fix ASAP.

[2021-06-22 05:07] lee212 commented on #581
Hi @akashban ,

Thanks for reporting this, you're correct, I can replicate the issue and it was due to incorrect entity to locate files. It would work if you use `instance.uid` instead. for example, change instance of pipeline/stage/task`.name` to `.uid`. FYI, I updated the script here: https://github.com/radical-cybertools/radical.entk/blob/fix/issue_581/examples/simple/poe.py

While you run the

[2021-06-22 18:15] akashban commented on #581
Thank you @lee212 and @andre-merzky for your help. I will come back to you guys after I test the above solution.

[2021-06-23 20:09] akashban commented on #581
Hi @andre-merzky and @lee212 ,

The uid fix works. However, I am still facing a data movement issue for my entk script : link_input_data creates broken symlinks.
I have attached the remote and local sandboxes. I am not able to upload the broken symlink. It is there in remote sandbox/pilot.0001/task.0001. In summary, the first task, i.e., task.0000 works properly. However, the following tasks (say

[2021-06-23 20:22] lee212 commented on #581
@akashban , can you share your entk script? I need to see what went wrong based on your code with the `link_input_data`.

[2021-06-24 13:22] akashban commented on #581
Hi @lee212 , we discussed this with our PI: would it be okay with you if we make you a collaborator on our github repo. This way we can share our unpublished codes/entk scripts with you. I would just need your email ID, and our PI can add you to the repo. We sincerely appreciate your help on this matter.

[2021-06-24 13:34] lee212 commented on #581
@akashban , I will be more than glad to become a collaborator in your repo and check the code from there, lee212 is my github id and hroe.lee@gmail.com. Thank you.

[2021-06-24 15:12] akashban commented on #581
@lee212 thank you so much for your offer. I will forward the details to my PI. Once you accept the invitation, I will open a ticket on our repo, and we can continue our conversation there.

[2021-06-24 21:54] drawadiagram commented on #579
@mturilli The output above happens when I try running the root/share/examples/simple/eop.py packaged with the base install of entk, in a Python 3.8.5 virtualenv.

Before running, I export the environment variables in my shell (Bash) per section 3.2 in [the entk docs](https://radicalentk.readthedocs.io/en/latest/install.html). I use the RCT account spreadsheet values for those variables, with usern

[2021-06-25 16:57] mturilli commented on #579
Thank you for the details. Let me try to debug this on our VM with your credentials and I will be back to you with the result.

[2021-06-28 22:56] mturilli commented on #579
@drawadiagram , I struggled to trace down your issue as for me it all worked as expected. I recreated the credentials in RMQ. Could you give it another try?

[2021-06-29 07:51] mturilli commented on #581
@lee212 please report back to this ticket once the issue has been discussed and solved in the private repo of @akashban so that we can track and close this ticket.

[2021-06-29 07:52] mturilli commented on #577
@lee212 are you going to create a PR for this?

[2021-06-29 07:53] mturilli commented on #574
@ethzan did updating RCT stack as suggested by @andre-merzky solved your issue? If so, I would close this ticket.

[2021-06-29 07:55] mturilli commented on #313
@mtitov, @andre-merzky  was this ever done? If not, should we put it back on the development roadmap?

[2021-06-29 08:08] mturilli commented on #551
Hi @akashban, apologies for the delay to get back to you on this. Assuming this is still an issue for you, here a summary and a couple of possible ways forward.

We tried and discussed a couple of ways to mitigate this problem but, unfortunately, we did not find a viable solution that can be implemented in a short amount of time. We have a medium-term solution planned but it will probably become a

[2021-06-29 08:10] #382 closed

[2021-06-29 08:15] andre-merzky commented on #313
This lives in fix/type_checks, but I am not sure about the current state.  From the looks of it it seems fairly complete. @mtitov ?

[2021-06-29 08:22] mturilli commented on #579
Fixes #578

[2021-06-29 14:45] akashban commented on #551
Hi @mturilli, Thank you so much for detailed inputs. I have used the first approach (Using checkpoints) to generate data for our publication. It seemed like the most straight forward workaround. I would need some help regarding launching entk scripts from a login node. Could you please point me to the documentation that talks about running entk from a login node?

[2021-06-29 17:43] lee212 commented on #581
@mturilli , I checked out the code, and the issue is that the `link_input_data` still uses `name` to locate files instead of `uid` which we verified working/fixing the current error. I asked @akashban to replace `name` with `uid` in the code, in the meantime I will seek if we can use `name` as well.

[2021-06-29 18:52] ethzan commented on #574
Yes. Thank you!

[2021-06-29 18:59] andre-merzky commented on #574
Great!

[2021-06-29 18:59] #574 closed

[2021-06-29 19:06] andre-merzky commented on #551
@akashban : on Stampede2, running from the login node is not too different than running from your laptop, with one exception: you would need to run the script in a `tmux` session, so that the shell does not get closed when you disconnect.  Are you familiar with `tmux` (or `screen`)?

[2021-06-29 20:25] akashban commented on #551
@mturilli : Got it, I can run entk scripts on a tmux session from the Stampede2 login node. Will keep you posted on this.

[2021-06-30 05:24] lee212 opened #583 "`link_input_data` got strange symlink"
I have `link_input_data` like:
[code]
where shared_data are `open.pdb` and the expected result is like:

[code]

but some of the tasks have this:

[code]

I couldn't find any related error message from radical.log, and my stack info:

[code]

I will dig further.

[2021-06-30 20:54] drawadiagram commented on #579
@mturilli I still get the same error, I must be missing a step in preparing the environment. I will confer with the other folks in the lab and get back to you soon.

[2021-07-09 10:26] mturilli commented on #581
@lee212 I see https://github.com/radical-cybertools/radical.entk/commit/7ac03b4f951afb44cd67ed668aa0d99350d1247d . Is that ready for a PR? We are about the release EnTK (the usual monthly release) and it would be important to know whether that commit needs to go into the release.

[2021-07-09 10:28] andre-merzky commented on #581
@lee212 : quick question, loosely related: the branch `fix/issue_581` seems also be ready - or is that still work in progress?  If not, do you plan to open a PR?

[2021-07-09 14:08] lee212 commented on #581
Srinivas Mushnoori still wants to use `.name` because of the complexity of the existing code to change, so my responsibility is to check if `.name` is applicable before the release. and yes for the question to merge the branch. I will open a PR so that it can go into the next release.

[2021-07-09 15:35] SrinivasMushnoori commented on #581
So @akashban has brought to my attention that the "fix" in `fix/issue_581` is changing `.name` to `.uid` in the examples?
Please forgive me if I misunderstand, how would this fix any backend issues that are preventing data staging with `.name` ?

Or is this still being worked upon?

[2021-07-09 15:54] lee212 commented on #581
@SrinivasMushnoori, the issue you're referring to will have to go into a separate branch. This issue (#581) started with `poe.py` example at the beginning and the branch `fix/issue_581` is to address it.

[2021-07-12 20:25] lee212 commented on #577
Yes, I created PR #586

[2021-07-12 21:25] andre-merzky commented on #551
Thanks - let us know if you need further help on this.

[2021-07-12 21:25] #551 closed

[2021-07-12 23:35] lee212 commented on #581
@akashban confirmed the branch works, we may merge the PR.

[2021-07-14 13:45] andre-merzky commented on #582
Hi @euhruska - this issue should be fixed with merging #584 - the next release of RE (upcoming this week) will contain the fix.  Thanks for your patience!

[2021-07-14 13:46] #582 closed

[2021-07-14 22:09] #577 closed

[2021-07-16 20:41] mturilli commented on #579
This was a problem with mongodb and using special characters (+?) in the password. Now solved.

[2021-07-16 20:41] #579 closed

[2021-07-16 20:43] mturilli commented on #578
`examples/simple/eop.py|poe.py` are broken. This is not an issue with the user. I am going to close this ticket and open one for the EnTK team to fix those examples.

[2021-07-16 20:43] #578 closed

[2021-07-16 20:48] mturilli opened #587 "`examples/simple/eop.py|poe.py` are broken"
We should check/test all the examples and be sure that they work.

[2021-07-16 20:49] mturilli commented on #587
Here the error:
[code]

`examples/user_guide/get_started.py` works with the same stack and env variables.

[2021-07-16 20:54] #581 closed

[2021-07-16 21:18] lee212 commented on #587
The `eop.py` and `poe.py` are recently updated and I just ran the test on radical VM:

[code]

Maybe can you share your `eop.py` or make sure it is up-to-date? The latest version will use
[code]
and this PLAIN authentication error is usually fixed with these env variables and the latest example files.

[2021-07-19 22:14] andre-merzky opened #588 "remove name, user specified UID"

[2021-07-20 03:36] lee212 opened #589 "Change default base path"
This is a feature request (from DeepDriveMD) to change the base path of logs/profiles from `pwd` to a user-defined location so that the session `re.session.xxx` would be placed on a different path when it's given.

For the reference, RP supports this, https://github.com/radical-cybertools/radical.pilot/blob/devel/src/radical/pilot/session.py#L107-L111,
[code]
The default base path is changed when

[2021-07-20 14:43] mturilli opened #591 "Init fails when offline"
Stack:
[code]

I was working offline and this happened when I tried to import EnTK. I do not think we should require to have a connection to use EnTK.
[code]

[2021-07-21 13:51] drawadiagram commented on #587
I get this error with stack as follows:

  pythonpath           :
  version              : 3.8.10
  virtualenv           : /home/mason/dutt_lab/pace/pace_env

  radical.entk         : 1.6.5
  radical.gtod         : 1.5.0
  radical.pilot        : 1.6.6
  radical.saga         : 1.6.6
  radical.utils        : 1.6.6

[2021-07-26 04:40] #589 closed

[2021-07-26 04:45] lee212 commented on #587
@drawadiagram, EnTK, and RCT have been updated recently, and the latest version of EnTK is 1.6.7. Can you refresh your stack and run this example again if it resolves the `PLAIN` auth error?
`pip install --upgrade radical.entk radical.pilot radical.utils radical.saga` will do the update .

[2021-07-28 11:50] drawadiagram commented on #587
Updated stack and that resolves the issue for me. Thanks @lee212 ! May want @mturilli to confirm as well.

[2021-09-20 21:29] andre-merzky opened #593 "add `pre_launch` to RE"
This propagates changes from env isolation in RP (see [here](https://github.com/radical-cybertools/radical.pilot/pull/2312) to RE).

[2021-11-01 23:04] andre-merzky opened #594 "RE: doc structure, sphinx setup"

[2021-11-12 06:21] Brian-Szutu opened #595 "Failed running a slightly modified version of the echo example"
Hello, I ran into an issue of a modified version of the basic echo example task failing. Could I get some assistance in solving this? Thanks in advance.
The code was run on Ubuntu on VirtualBox, with the following toolkit version being used:
[code]
Attached are the agent folder, client folder, and console log (with the former two in ZIP format since I wasn't able to get GitHub to accept them as TA

[2021-11-12 11:19] andre-merzky commented on #595
Would you mind attaching the script you try to run?  Thank you!

[2021-11-12 20:03] Brian-Szutu commented on #595
Sure, here it is. I'm currently testing this on the radical-provided MongoDB database and rabbitmq server
[workflow_test.zip](https://github.com/radical-cybertools/radical.entk/files/7530071/workflow_test.zip)

[2021-11-26 17:21] #561 closed

[2021-12-14 03:42] drawadiagram opened #598 "stdin redirect"
## Description

Add function by which the user can redirect stdin from a file.

### Motivating Example

Redirect for stdin is a common use case when manipulating shell programs that require interactive input. The MD engine Gromacs has several analytical programs which require interactive input, e.g. gmx energy.

When calling gmx energy with an appropriate energy file *.edr, the user is prompted to

[2022-01-21 17:54] AymenFJA opened #599 "EnTK not waiting for stage tasks to finish"
I am reporting an unusual behavior of EnTK as I was running a workflow with a synthetic workload (`sleep 5`) for a new use case. The program exists fine, indicating the tasks within the pipeline within a stage(s) are `DONE` successfully. But the profiles show something else. EnTK tasks are done instantly without waiting for the task to finish. Below attached are the tasks sandboxes.

[code]

[code

[2022-01-26 15:31] AymenFJA commented on #599
This issue is related to `RADICAL-Pilot` and is fixed with the latest PR mentioned above. Closing for now.

[2022-01-26 15:31] #599 closed

[2022-02-25 09:44] andre-merzky opened #604 "`test_issues` is not being used"
Issue fixes should get covered by unit tests - do we still need the `test_issues` subtree?

[2022-03-29 19:36] wilkinson opened #608 "EnTK 1.13.0 hang on "create pilot manager" on Summit"
### Report

This problem is encountered during development of the experimental `workflows` module for Summit. EnTK appears to hang before ever launching a batch job. The code for the demo is attached here; obviously, the project identifier (`stf019`) will have to be replaced if you run it, though.

[demo.tar.gz](https://github.com/radical-cybertools/radical.entk/files/8374490/demo.tar.gz)

Using n

[2022-03-29 20:39] andre-merzky commented on #608
Hi @wilkinson , the session log show this problem:
[code]

Can you please show the output of `radical-stack` to check if and what version of `radical.gtod` is installed?  It should have been pulled as a dependency.

[2022-03-29 21:16] wilkinson commented on #608
[code]

[2022-03-31 23:26] mtitov commented on #608
@Wilkinson hi Sean, this issue is fixed -> as Andre mentioned about `gtod`, it was missed within conda and now it is there (took some time to publish it, especially long delays due to propagation stage at every step - CDN cloning...) Sorry for this!

p.s. before we publish the next release, can you please add the following file for your runs on Summit:
path: `~/.radical/pilot/configs/resource_ornl

[2022-04-04 16:18] #608 closed

[2022-04-20 11:50] andre-merzky opened #612 "Provide tool which reports runtime status of workflow"
See radical-collaboration/hpc-workflows/issues/153 for details.

[2022-07-29 20:54] #593 closed

[2022-08-22 20:32] mtitov commented on #559
resolved - attribute `arguments` has the following pattern in schema `[str]`
https://github.com/radical-cybertools/radical.entk/blob/5af9d8fd6842a8fdbbf6d97db3238c88d17d0de4/src/radical/entk/task.py#L370

[2022-08-22 20:32] #559 closed

[2022-08-22 20:33] #587 closed

[2022-08-22 20:35] #591 closed

[2022-09-19 22:36] andre-merzky commented on #588
This is not needed anymore

[2022-09-19 22:36] #588 closed

[2022-11-28 13:14] andre-merzky opened #622 "EnTK hangs when pilot agent dies"
Being resilient against pilot failure is an RE design choice - but unless the application has *some* indication that the pilot died, there is not much the application can do to rectify the issue.